@import './_variables.scss';

// Settings
.account-link {

  &.drumeo a:hover {
    background-color:$drumeoBlue;
    border-color:$drumeoBlue;
  }

  &.pianote a:hover {
    background-color:$pianoteRed;
    border-color:$pianoteRed;
  }

  &.guitareo a:hover {
    background-color:$guitareoGreen;
    border-color:$guitareoGreen;
  }

  &.recordeo a:hover {
    background-color:$recordeoYellow;
    border-color:$recordeoYellow;
  }

  a {
    height:auto;
    min-height:100%;
    will-change:background-color, color, border-color;
    transition:all .1s ease-in-out;

    &:hover {
      color:#fff;
    }
  }
}

.account-nav-link {
  border-bottom:3px solid transparent;
  transition:border-color .2s ease-in-out, color .2s ease-in-out;

  i {
    transition:color .2s ease-in-out;
  }

  &:hover, &.active {
    color:#000;
    border-bottom-color:$drumeoBlue;

    i {
      color:$drumeoBlue;
    }
  }
}

#settingsSidebar {
  flex:0 0 275px;
  overflow:hidden;

  .section-link {
    flex:0 0 50px;
    will-change:background-color, font-weight;
    transition:.1s background-color ease-in-out, .1s font-weight ease-in-out;

    &:hover {
      background-color:$lightGray;
      font-weight:700;
    }

    &.active {
      pointer-events:none;
    }

    i {
      width:20px;
    }
  }
}

#editForm {

  .edit-button {
    flex:0 0 100px;
  }

  .text-field {
    flex-wrap:wrap;

    @include small {
      flex-wrap:nowrap;
    }

    .key {
      flex:0 0 100%;

      @include small {
        flex:0 0 200px;
      }
    }

    .value {
      word-break:break-word;
      word-wrap:break-word;
    }
  }

  .image-col {
    flex:0 0 200px;
  }

  .payment-col {
    flex:0 0 125px;
  }
}

.cc-col {
  position:relative;

  .default-overlay {
    position:absolute;
    top:-5px;
    left:-5px;
    width:calc(100% + 10px);
    height:calc(100% + 10px);
    z-index:2;

    span {
      padding:5px;
      box-sizing:border-box;
      display:inline-block;
      flex:none;
      border-radius:5px 0 5px 0;
    }
  }

  .credit-card-box {
    position:relative;
    height:0;
    padding-bottom:63%;
    z-index:1;

    &.visa { background-color:#2d68a9; }
    &.mastercard { background-color:#33495d; }
    &.paypal { background-color:#a4bbc6; }
    &.amex { background-color: #18325b; }
    &.default-payment::after {
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      bottom: -5px;
      left: -5px;
      right: -5px;
      border-radius: 10px;
      border: 2px solid $recordeoYellow;
    }

    .card {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;

      & > .flex-column {
        height:100%;

        @include xSmallOnly {
          padding:$gutterWidth / 3;
        }
      }

      .card-number {
        font-size:50%;
      }
    }

    .default-payment-method {
      display:inline-block;
      padding: 3px 5px 3px 5px;
      border-radius: 5px 0 5px 0;
      position: absolute;
      left: -3px;
      top: -3px;

      span {
        color: white;
      }
    }

    .cc-icon {
      font-size:36px;
    }
  }
}

.clear-button {
  position:absolute;
  top:0;
  right:0;
  height:25px;
  width:25px;
  background:$errorRed;
  @include flexCenter();
  cursor:pointer;

  i {
    font-size:18px;
    color:#fff;
  }
}

.completed-badge {
  position:absolute;
  top:0;
  left:0;
  height:30px;
  width:30px;
  border-radius:3px 0 3px 0;
  font-size:16px;
  @include flexCenter();
}

.stats-dial {

  .stats-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:92.5%;
    height:92.5%;

    & * {
      transform:translateY(-7px);
      text-align:center;
    }

    .display {
      font-size:48px;
      line-height:48px;

      @include medium {
        font-size:54px;
        line-height:54px;
      }

      @include large {
        font-size:60px;
        line-height:60px;
      }
    }
  }

  .stats-type {
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    height:50px;
    border-radius:25px;
    width:85%;
    padding:10px;
    font-weight:400;

    @include medium {
      width:80%;
    }
  }
}

.exp-wrap {
  width:100%;
  height:50px;
  border-radius:25px;
  overflow:hidden;
  position:relative;
  box-shadow: inset 0 0 0 2px nth(nth($greys, 2), 2);

  .exp {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    border-radius:25px;

    .move-text-over {
      transform:translateX(100%);
    }
  }
}