@import './_variables.scss';

// Settings
.account-link {

  &.drumeo a:hover {
    background-color:$drumeoBlue;
    border-color:$drumeoBlue;
  }

  &.pianote a:hover {
    background-color:$pianoteRed;
    border-color:$pianoteRed;
  }

  &.guitareo a:hover {
    background-color:$guitareoGreen;
    border-color:$guitareoGreen;
  }

  &.recordeo a:hover {
    background-color:$recordeoYellow;
    border-color:$recordeoYellow;
  }

  a {
    height:auto;
    min-height:100%;
    will-change:background-color, color, border-color;
    transition:all .1s ease-in-out;

    &:hover {
      color:#fff;
    }
  }
}

#settingsSidebar {
  flex:0 0 275px;
  overflow:hidden;

  .section-link {
    flex:0 0 50px;
    will-change:background-color, font-weight;
    transition:.1s background-color ease-in-out, .1s font-weight ease-in-out;

    &:hover {
      background-color:$lightGray;
      font-weight:700;
    }

    &.active {
      pointer-events:none;
    }

    i {
      width:20px;
    }
  }
}

#editForm {

  .edit-button {
    flex:0 0 100px;
  }

  .text-field {

    .key {
      flex:0 0 150px;

      @include small {
        flex:0 0 200px;
      }
    }
  }

  .image-col {
    flex:0 0 200px;
  }
}

.cc-col {
  padding:5px;
  position:relative;

  .default-overlay {
    position:absolute;
    top:-5px;
    left:-5px;
    width:calc(100% + 10px);
    height:calc(100% + 10px);
    z-index:2;

    span {
      padding:5px;
      box-sizing:border-box;
      display:inline-block;
      flex:none;
      border-radius:5px 0 5px 0;
    }
  }

  .credit-card-box {
    position:relative;
    height:0;
    padding-bottom:63%;
    z-index:1;

    &.visa { background-color:#2d68a9; }
    &.mastercard { background-color:#33495d; }
    &.paypal { background-color:#a4bbc6; }

    .card {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;

      & > .flex-column {
        height:100%;

        @include xSmallOnly {
          padding:$gutterWidth / 3;
        }
      }

      .card-number {
        font-size:50%;
      }
    }

    .cc-icon {
      font-size:36px;
    }
  }
}