@import './_variables.scss';

.content-table-row, .content-overview {

  .addeventatc {
    cursor:pointer;
    visibility:hidden;
    z-index:50;
    box-shadow:none!important;
    border:none!important;
    text-shadow:none;
    background:none!important;
    outline:none;
    padding:0;


    .addeventatc_icon {
      display:none!important;
    }
  }
}

.copyx {
  display:none!important;
}
