@import './_variables.scss';

@keyframes growShrink {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.25);
  }
  100% {
    transform:scale(1);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}