@import './_variables.scss';

// STANDARD ANIMATIONS
@keyframes growShrink {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.25);
  }
  100% {
    transform:scale(1);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes skeleton-loader {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_out {
  100% {
    transform: translate(-50%);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 1;
  }
  20% {
    transform: scale(.2) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.25) translate(-50%, -50%);
  }
}

@mixin rippleDirective {
  position:relative;
  overflow:hidden;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0;
    padding-bottom:100%;
    background: rgba(255, 255, 255, .3);
    opacity: 0;
    border-radius: 50%;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: 0 0;
  }

  &:focus:not(:active)::after {
    animation: ripple .4s ease-out;
  }
}


// VueJS ANIMATIONS
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

.slide-down-fade-enter-active {
  transition: all .2s ease;
}
.slide-down-fade-leave-active {
  transition: all .2s ease-in-out;
}
.slide-down-fade-enter, .slide-down-fade-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}

.show-from-bottom-enter-active {
  transition: all .2s linear;
}
.show-from-bottom-leave-active {
  transition: all .2s linear;
}
.show-from-bottom-enter, .show-from-bottom-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

.show-from-top-enter-active {
  transition: all .3s ease;
}
.show-from-top-leave-active {
  transition: all .3s linear;
}
.show-from-top-enter, .show-from-top-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}

.grow-fade-enter-active {
  transition: all .2s ease;
}
.grow-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.grow-fade-enter, .grow-fade-leave-to {
  transform: scale(.5);
  opacity: 0;
}

.fade-enter-active {
  transition: all .3s ease-in-out;
}
.fade-leave-active {
  transition: all .3s ease-in-out;
}
.fade-enter, .grow-fade-leave-to {
  opacity: .1;
}


// NOTY
.noty_effects_open {
  opacity: 0;
  transform: translate(-50%);
  animation: noty_anim_in 0.2s ease-in-out;
}

.noty_effects_close {
  animation: noty_anim_out 0.2s ease-in-out;
}