@import './_variables.scss';

a, div {

  &.btn {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:50px;
    cursor:pointer;
    border-radius:5px;
    border:none;
    width:100%;
    text-decoration:none;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    font:700 16px $secondarySansSerif;
    text-transform:uppercase;

    &.short {
      height:35px;
    }

    &:focus {
      animation-name: buttonActive;
      animation-duration: .4s;
    }
  }
}

button {
  &.btn {
    border:none;
    background:none;
    padding:0;
    box-shadow:none;
    width:100%;

    span {
      @extend a.btn;

      &.short {
        height:35px;
      }
    }

    &:focus span {
      animation-name: buttonActive;
      animation-duration: .4s;
    }
  }
}

.btn {

  &.collapse-250 {
    max-width:250px;
  }

  &.collapse-320 {
    max-width:320px;
  }
}

a {
  cursor:pointer;
}

@keyframes buttonActive {
  0% {
    transform:scale(1);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
  50% {
    transform:scale(1.01);
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
  }
  100% {
    transform:scale(1);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
}