@import './_variables.scss';
@import './_animations.scss';

a, div {

  &.btn {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:50px;
    cursor:pointer;
    border-radius:5px;
    border:none;
    outline:none;
    width:100%;
    text-decoration:none;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    font:700 16px $secondarySansSerif;
    text-transform:uppercase;
    will-change:background-color;
    transition:background-color .2s ease-in-out;

    @include rippleDirective();

    &.short {
      height:35px;
    }
  }
}

button {
  &.btn {
    border:none;
    background:none;
    padding:0;
    box-shadow:none;
    width:100%;
    cursor:pointer;
    outline:none;

    &.short > span {
      height:35px;
    }

    &:disabled {
      opacity:.5;
    }

    & > span {
      pointer-events:none;
      position:relative;
      display:flex;
      flex-direction:row;
      flex-wrap:nowrap;
      justify-content:center;
      align-items:center;
      text-align:center;
      height:50px;
      cursor:pointer;
      border-radius:5px;
      border:none;
      outline:none;
      width:100%;
      text-decoration:none;
      box-shadow: 0 0 2px rgba(0,0,0,0.2);
      font:700 16px $secondarySansSerif;
      text-transform:uppercase;
      will-change:background-color;
      transition:background-color .2s ease-in-out;

      @include rippleDirective();

      &.short {
        height:35px;
      }
    }

    &:focus:not(:active) > span::after {
      animation: ripple .4s ease-out;
    }
  }
}

.btn {
  position:relative;
  overflow:hidden;

  &.collapse-square {
    max-width:50px;

    &.short {
      max-width:35px;
    }
  }

  &.collapse-150 {
    max-width:150px;
  }

  &.collapse-200 {
    max-width:200px;
  }

  &.collapse-250 {
    max-width:250px;
  }

  &.collapse-320 {
    max-width:320px;
  }

  &.flat, & > span.flat {
    background-color:transparent;
    border:none;
    box-shadow:none;
  }

  &.big-text {
    font-size:20px;

    & > span {
      font-size:20px;
    }
  }

  &.btn-tiny {
    font-size:13px;
    height:35px;

    & > span {
      font-size:13px;
      height:35px;
    }
  }

  &.text-white-important {
    color:#fff!important;
  }

  &:hover {
    @each $key, $value in $brand_colors {
      &.bg-#{$key}, & > span.bg-#{$key} {
        background-color: lighten($value, 5%);
      }
    }

    @each $key, $value in $content_colors {
      &.bg-#{$key}, &.bg-#{$key}s, & > span.bg-#{$key}, & > span.bg-#{$key}s {
        background-color: lighten($value, 5%);
      }
    }
  }

  &:focus {
    @each $key, $value in $brand_colors {
      &.bg-#{$key}, & > span.bg-#{$key} {
        background-color: lighten($value, 10%);
      }
    }

    @each $key, $value in $content_colors {
      &.bg-#{$key}, &.bg-#{$key}s, & > span.bg-#{$key}, & > span.bg-#{$key}s {
        background-color: lighten($value, 10%);
      }
    }
  }

  &.inverted:hover,
  &.flat:hover,
  &:hover > span.inverted,
  &:hover > span.flat,
  & > span.inverted:hover,
  & > span.flat:hover { background-color:rgba(126, 126, 126, .05); }

  &.inverted:focus,
  &.flat:focus,
  &:focus > span.inverted,
  &:focus > span.flat,
  & > span.inverted:focus,
  & > span.flat:focus { background-color:rgba(126, 126, 126, .1); }
}

a {
  cursor:pointer;
}

@keyframes buttonActive {
  0% {
    transform:scale(1);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
  50% {
    transform:scale(1.01);
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
  }
  100% {
    transform:scale(1);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
}