@import './_variables.scss';

// Text Color
.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-white {
  color: #fff;
}

.text-black {
  color:#000;
}

.text-light {
  color: $lightGray;
}

.text-dark {
  color: $darkGray;
}

.text-success {
  color: $successGreen;
}

.text-warning {
  color: $warningYellow;
}

.text-error {
  color: $errorRed;
}

.text-x-dark {
  color:#242424;
}

// Background Color
.bg-primary {
  background-color: $primary;

  &.inverted {
    background-color:transparent;
    border:2px solid $primary;
  }
}

.bg-secondary {
  background-color: $secondary;

  &.inverted {
    background-color:transparent;
    border:2px solid $secondary;
  }
}

.bg-success {
  background-color: $successGreen;

  &.inverted {
    background-color:transparent;
    border:2px solid $successGreen;
  }
}

.bg-warning {
  background-color: $warningYellow;

  &.inverted {
    background-color:transparent;
    border:2px solid $warningYellow;
  }
}

.bg-error {
  background-color: $errorRed;

  &.inverted {
    background-color:transparent;
    border:2px solid $errorRed;
  }
}

.bg-black {
  background-color: #000;

  &.inverted {
    background-color:transparent;
    border:2px solid #000;
  }
}

.bg-white {
  background-color: #fff;

  &.inverted {
    background-color:transparent;
    border:2px solid #fff;
  }
}


[class*='hover-bg-'] {
  transition:background-color .1s ease-in-out;
  will-change:background-color;
}

[class*='hover-text-'] {
  transition:color .1s ease-in-out;
  will-change:color;
}

.hover-bg-black:hover {
  background-color:#000;
}
.hover-text-black:hover {
  color:#000;
}
.hover-bg-white:hover {
  background-color:#fff;
}
.hover-text-white:hover {
  color:#fff;
}

@each $key, $value in $brand_colors {
  .text-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;

    &.inverted {
      background-color:transparent;
      border:2px solid $value;
    }
  }

  .hover-text-#{$key}:hover {
    color:$value;
  }
  .hover-bg-#{$key}:hover {
    background-color:$value;
  }
}

@each $key, $value in $content_colors {
  .text-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;

    &.inverted {
      background-color:transparent;
      border:2px solid $value;
    }
  }
  .text-#{$key}s {
    color: $value;
  }
  .bg-#{$key}s {
    background-color: $value;

    &.inverted {
      background-color:transparent;
      border:2px solid $value;
    }
  }

  .hover-text-#{$key}:hover {
    color:$value;
  }
  .hover-bg-#{$key}:hover {
    background-color:$value;
  }

  .hover-text-#{$key}s:hover {
    color:$value;
  }
  .hover-bg-#{$key}s:hover {
    background-color:$value;
  }
}

@each $i, $grey in $greys {
  .bg-grey-#{$i} {
    background-color:$grey;

    &.inverted {
      background-color:transparent;
      border:2px solid $grey;
    }
  }

  .text-grey-#{$i} {
    color:$grey;
  }


  .hover-text-grey-#{$i}:hover {
    color:$grey;
  }
  .hover-bg-grey-#{$i}:hover {
    background-color:$grey;
  }
}

input[type="text"].bg-light,
.bg-light {
  background-color:transparentize($lightGray, .5);

  &.inverted {
    background-color:transparent;
    border:2px solid transparentize($lightGray, .5);
  }
}

.bg-dark {
  background-color:$darkGray;

  &.inverted {
    background-color:transparent;
    border:2px solid $darkGray;
  }
}

.bg-x-dark {
  background-color:#242424;

  &.inverted {
    background-color:transparent;
    border:2px solid #242424;
  }
}

.invert-fill {
  filter:invert(100%);
}