@import './_variables.scss';

// Text Color
.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-drumeo {
  color: $drumeoBlue;
}

.text-pianote {
  color: $pianoteRed;
}

.text-guitareo {
  color: $guitareoGreen;
}

.text-recordeo {
  color: $recordeoYellow;
}

.text-white {
  color: #fff;
}

.text-black {
  color:#000;
}

.text-light {
  color: $lightGray;
}

.text-dark {
  color: $darkGray;
}

.text-success {
  color: $successGreen;
}

.text-warning {
  color: $warningYellow;
}

.text-error {
  color: $errorRed;
}

.text-x-dark {
  color:#242424;
}

// Background Color
.bg-primary {
  background-color: $primary;

  &.inverted {
    background-color:transparent;
    border:2px solid $primary;
  }
}

.bg-secondary {
  background-color: $secondary;

  &.inverted {
    background-color:transparent;
    border:2px solid $secondary;
  }
}

.bg-drumeo {
  background-color: $drumeoBlue;

  &.inverted {
    background-color:transparent;
    border:2px solid $drumeoBlue;
  }
}

.bg-pianote {
  background-color: $pianoteRed;

  &.inverted {
    background-color:transparent;
    border:2px solid $pianoteRed;
  }
}

.bg-guitareo {
  background-color: $guitareoGreen;

  &.inverted {
    background-color:transparent;
    border:2px solid $guitareoGreen;
  }
}

.bg-recordeo {
  background-color: $recordeoYellow;

  &.inverted {
    background-color:transparent;
    border:2px solid $recordeoYellow;
  }
}

.bg-success {
  background-color: $successGreen;

  &.inverted {
    background-color:transparent;
    border:2px solid $successGreen;
  }
}

.bg-warning {
  background-color: $warningYellow;

  &.inverted {
    background-color:transparent;
    border:2px solid $warningYellow;
  }
}

.bg-error {
  background-color: $errorRed;

  &.inverted {
    background-color:transparent;
    border:2px solid $errorRed;
  }
}

.bg-black {
  background-color: #000;

  &.inverted {
    background-color:transparent;
    border:2px solid #000;
  }
}

.bg-white {
  background-color: #fff;

  &.inverted {
    background-color:transparent;
    border:2px solid #fff;
  }
}

@each $i, $grey in $greys {
  .bg-grey-#{$i} {
    background-color:$grey;

    &.inverted {
      background-color:transparent;
      border:2px solid $grey;
    }
  }
}

.bg-light {
  background-color:transparentize($lightGray, .5);

  &.inverted {
    background-color:transparent;
    border:2px solid transparentize($lightGray, .5);
  }
}

.bg-dark {
  background-color:$darkGray;

  &.inverted {
    background-color:transparent;
    border:2px solid $darkGray;
  }
}

.bg-x-dark {
  background-color:#242424;

  &.inverted {
    background-color:transparent;
    border:2px solid #242424;
  }
}

.invert-fill {
  filter:invert(100%);
}