@import './_variables.scss';

.content-table-row {
  background-color:#fff;
  transition:background-color .2s ease-in-out;
  padding:#{$gutterWidth / 4} 0;

  & > .flex-column {
    justify-content:center;
    padding-top:5px;
    padding-bottom:5px;
  }

  &.wrap-on-mobile {
    @include xSmallOnly {
      flex-wrap:wrap;
    }
  }

  @include medium {
    & > .flex-column {
      justify-content:center;
    }
  }

  &:hover:not(.scheduled) {
    .basic-col, .icon-col {
      color:#000;
    }

    .icon-col {
      i.text-light {
        color:#000;
      }
    }

    .thumb-wrap {
      .thumb-img {
        transform:scale(1.2);
      }

      .thumb-hover {
        opacity:1;
        visibility:visible;
      }
    }
  }

  &.scheduled {
    cursor:default;
  }

  &.compact {

    & > .flex-column {
      justify-content:flex-start;
    }

    .hide-md-up {
      display:block!important;
    }

    .hide-sm-down {
      display:none;
    }
  }

  &.is-read {
    background-color:#f2f2f2;
  }

  .bullet {
    margin:0 5px;
    font-size:8px;
    vertical-align:top;
  }
}

.large-thumbnail {
  position:relative;
  z-index:3;
  margin-bottom:$gutterWidth / 2;

  @include xSmallOnly {
    padding-left:$gutterWidth / 3;
    padding-right:$gutterWidth / 3;
  }

  @include medium {
    margin-bottom:0;
  }

  &:before, &:after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    transform-origin:50% 0;
    width:100%;
    border-radius:3px;
    height:100%;
  }

  @each $key, $value in $brand_colors {
    &.#{$key} {

      &:before {
        background:lighten($value, 20%);
      }

      &:after {
        background:lighten($value, 30%);
      }
    }
  }

  @each $key, $value in $content_colors {
    &.#{$key} {

      &:before {
        background:lighten($value, 20%);
      }

      &:after {
        background:lighten($value, 30%);
      }
    }
  }

  &:before {
    background:lighten($recordeoYellow, 20%);
    transform:scale(0.9) translateY(-10px);
    z-index:-1;
  }

  &:after {
    background:lighten($recordeoYellow, 30%);
    transform:scale(0.8) translateY(-20px);
    z-index:-2;
  }
}

.content-overview {
  flex-wrap:wrap;

  @include medium {
    flex-wrap:nowrap;
  }

  .large-thumbnail {
    flex:1 0 100%;

    @include medium {
      flex:0 0 320px;
    }
  }

  .go-to-button {
    @include xSmallOnly {
      max-width:100%;
    }
  }
}

.thumbnail-col {
  flex:0 0 75px;

  &.large-thumbnail {
    flex:0 0 320px;
  }

  &.book-thumbnail {
    @include xSmallOnly{
      flex:0 0 100%;
    }

    flex:0 0 200px;
  }

  .thumb-img {
    background-size:cover;
    transform:scale(1);
    transition:transform .2s ease-in-out;
    will-change:transform;
  }

  .thumb-wrap {
    position:relative;
    overflow:hidden;

    .thumb-hover {
      opacity:0;
      visibility:hidden;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba(0,0,0,.4);
      z-index:2;
      transition:all .2s ease-in-out;
      will-change:opacity, visibility;

      i {
        font-size:16px;
        color:#fff;
      }
    }

    .new-badge {
      position:absolute;
      top:0;
      left:0;
      height:20px;
      width:20px;
      border-radius:3px 0 3px 0;

      i {
        font-size:10px;
      }
    }
  }
}

.login-col {
  @include xSmallOnly {
    flex:0 0 100%;
  }

  flex:0 0 215px;
}

.avatar-col {
  flex:0 0 60px;
  max-width:60px;
}

.basic-col {
  flex:0 0 100px;
  transition:color .2s ease-in-out;
}

.icon-col {
  flex:0 0 60px;
  padding:5px;

  i {
    position:absolute;
    font-size:28px;
    height:100%;
    width:100%;
    transition:color .1s ease-in-out, transform .1s ease-in-out;
    will-change: color, transform;

    &.is-added {
      transform:rotate(45deg);
    }
  }

  .read-icon {
    transition:color .1s ease-in-out;
    pointer-events:none;

    &:hover {
      color:$recordeoYellow;
    }
  }
}

.button-col {
  flex:0 0 100%;
  margin-left:0;
  margin-top:$gutterWidth / 2;

  @include small {
    flex:0 0 250px;
    margin-left:$gutterWidth / 3;
    margin-top:0;
  }
}

.item-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden;
}