@import './_variables.scss';

// Progress
.content-progress {

  &.compact {

    & > .flex-column {
      flex:1 1 100%;
    }

    .trophy-progress-bar {
      margin-right:0;
      margin-bottom:0;
    }
  }
}

.congrats-container {
  &.compact {

    .subtitle {
      font-size:16px;
    }
  }
}

.trophy-progress-bar {
  background-color:rgba(0,0,0,.2);
  height:35px;
  border-radius:35px;
  overflow:hidden;

  @include xSmallOnly {
    margin-right:0;
    margin-bottom:$gutterWidth / 3;
  }


  &.complete {
    background-color:#fff;
  }

  .trophy-progress-cutoff {
    border-radius:55px;
    height:55px;
    margin-top:-10px;
    margin-left:-10px;
    border-width:10px;
    overflow:hidden;

    .trophy-progress {
      height:100%;
      width:0;
      border-radius:70px;
    }
  }

  .trophy {
    flex:0 0 60px;
  }
}


// Live Video Container
#liveVideo {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

// Chat Container
#chatContainer {
  padding-left:0;
  flex:0 0 100%;
  height:350px;
  margin-top:$gutterWidth;

  @include medium {
    flex:0 0 350px;
    padding-left:$gutterWidth / 3;
    height:auto;
    margin-top:0;
  }

  .inside {
    position:relative;
    overflow:hidden;
  }

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

// Breadcrumbs
#breadCrumbs {

  i {
    height:20px;
    width:20px;
  }
}

// Video Container
#videoContainer {
  flex:1 1 50%;
  max-width:100%;
}

// Lesson Info Sidebar
#lessonInfo {
  flex-wrap:wrap;

  @include medium {
    flex-wrap:nowrap;
  }

  .lesson-sidebar {
    flex:0 0 100%;
    margin-top:$gutterWidth / 2;

    @include medium {
      flex:0 0 320px;
      max-width:320px;
      margin-left:$gutterWidth / 2;
      margin-top:0;
    }

    .content-table {
      max-width:100%;

      .xs-12 {
        max-width:100%;
      }
    }
  }
}

// Complete Button

.completeButton {
  span {
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    will-change:opacity, visibility;
  }

  &.is-complete {

    .incompleted {
      opacity:0;
      visibility:hidden;
      display:none;
    }
    .completed {
      opacity:1;
      visibility:visible;
      display:flex;
    }
  }

  .incompleted {
    opacity:1;
    visibility:visible;
    display:flex;
  }
  .completed {
    opacity:0;
    visibility:hidden;
    display:none;
  }
}