@import './_variables.scss';

.content-table-row {
  transition:background-color .2s ease-in-out;

  &.no-access {
    //background-color:#f2f2f2;

    .thumb-wrap .thumb-hover {
      opacity:1;
      visibility:visible;
    }
    .thumbnail-col {
      filter:saturate(0);
    }
    .title-column * {
      color:nth(nth($greys, 3), 2);
    }
  }

  & > .flex-column {
    justify-content:center;
  }

  &.wrap-on-mobile {
    @include xSmallOnly {
      flex-wrap:wrap;
    }
  }

  @include medium {
    & > .flex-column {
      justify-content:center;
    }
  }

  &.scheduled {
    cursor:default;
    padding-left:30px;
  }

  &.compact {

    .hide-md-up {
      display:block!important;
    }

    .hide-sm-down, .hide-xs-only {
      display:none;
    }
  }

  &.is-read {
    background-color:#f2f2f2;
  }

  .bullet {
    margin:0 5px;
    font-size:8px;
    vertical-align:top;
  }
}

.large-thumbnail {
  position:relative;
  z-index:3;
  margin-bottom:$gutterWidth / 2;

  @include medium {
    margin-bottom:0;
  }

  .thumb-wrap {
    overflow:hidden;
    border-radius:3px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .thumb-img {

    .logo-image {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      padding-top:$gutterWidth;
      @include topToBottomGradient(transparent, #000);
      min-height:60px;
    }

    .bundle-complete, .thumb-hover {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba(0,0,0,.4);
      z-index:2;

      i {
        font-size:32px;
        color:#fff;
      }
    }
    .thumb-hover {
      opacity:0;
      visibility:hidden;
      transition:all .2s ease-in-out;
      will-change:opacity, visibility;
      border-radius:3px;
    }
  }

  &.song .thumb-img {
    background-size:contain;
  }

  &.background-cards {
    &:before, &:after {
      content:'';
      position:absolute;
      top:50%;
      left:0;
      transform-origin:50% 0;
      width:100%;
      border-radius:3px;
      height:0;
      padding-bottom:56.25%;
    }

    @each $key, $value in $brand_colors {
      &.#{$key} {

        &:before {
          background:lighten($value, 20%);
        }

        &:after {
          background:lighten($value, 40%);
        }
      }
    }

    @each $key, $value in $content_colors {
      &.#{$key} {

        &:before {
          background:lighten($value, 20%);
        }

        &:after {
          background:lighten($value, 40%);
        }
      }
    }

    &:before {
      background:lighten($recordeoYellow, 20%);
      transform:scale(0.9) translateY(-50%);
      margin-top:-13px;
      z-index:-1;
    }
  }

  &:after {
    background:lighten($recordeoYellow, 30%);
    transform:scale(0.8) translateY(-50%);
    margin-top:-26px;
    z-index:-2;
  }
}

.lesson-progress {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:5px;

  .progress {
    position:absolute;
    height:100%;
    top:0;
    left:0;
    bottom:0;
  }
}

.content-overview {
  @include xSmallOnly {
    flex-wrap:wrap;
  }

  @include medium {
    flex-wrap:nowrap;
  }

  .large-thumbnail {
    flex:1 0 100%;

    @include small {
      flex:0 0 240px;
    }

    @include medium {
      flex:0 0 320px;
    }
  }

  .go-to-button {
    @include xSmallOnly {
      max-width:100%;
    }
  }

  &.no-access {

    .thumb-wrap .thumb-hover {
      opacity:1;
      visibility:visible;
    }
  }

  .overview-links {
    @include xSmallOnly {
      flex-wrap:wrap;
    }

    a {
      @include xSmallOnly {
        flex:0 0 100%;
        margin-bottom:$gutterWidth / 3;
        max-width:100%;
      }
    }
  }
}

.content-table-row, .content-overview {

  &:hover:not(.scheduled), &.active, &.completed {
    .thumb-wrap {
      .thumb-hover {
        opacity:1;
        visibility:visible;
      }
    }
  }
}


.item-description {
  transition:max-height .1s ease-in-out, height .1s ease-in-out;
  will-change:max-height;
  position:relative;
  box-sizing:content-box;

  &:after {
    content: '';
    position:absolute;
    top:0;
    left:0;
    bottom:-20px;
    right:0;
    @include topToBottomGradient(transparent, #fff);
  }

  &.always-truncate {
    max-height:3em;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow:ellipsis;

    &.active {
      overflow:visible;
      -webkit-line-clamp:initial;

      &:after {
        @include topToBottomGradient(transparent, transparent);
      }
    }
  }

  &.font-compressed {
    max-height:2.5em;
  }

  @include xSmallOnly {
    max-height:3em;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow:ellipsis;

    &.active {
      overflow:visible;
      -webkit-line-clamp:initial;
    }
  }
}

.thumbnail-col {
  flex:0 0 75px;

  &.large-thumbnail {
    flex:0 0 320px;
  }

  &.song .thumb-img {
    background-size:contain;
  }

  &.book-thumbnail {
    @include xSmallOnly{
      flex:0 0 100%;
    }

    flex:0 0 200px;

    .thumb-wrap {

      .thumb-hover {

        i {
          font-size:24px;
        }
      }
    }
  }
}

.thumb-img {
  background-size:cover;
  background-position:center 16%;
  background-repeat:no-repeat;
  background-color:#000;
  transform:scale(1);
  transition:transform .2s ease-in-out;
  will-change:transform;

  &.no-bg {
    background-color:transparent;
  }

  .thumb-title {
    position:absolute;
    bottom:15px;
    width:100%;
    text-shadow:0 0 2px rgba(0,0,0,.8);
  }
}

.thumb-wrap {
  position:relative;
  overflow:hidden;
  border-radius:3px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);

  .bundle-complete, .thumb-hover {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.4);
    z-index:2;

    i {
      font-size:16px;
      color:#fff;
    }
  }
  .thumb-hover {
    visibility:hidden;
    opacity:0;
    transition:all .2s ease-in-out;
    will-change:opacity, visibility;
    border-radius:3px;
  }
}

.new-badge {
  position:absolute;
  top:0;
  left:0;
  border-radius:3px 0 3px 0;
  white-space:nowrap;
  z-index:3;
  color:#fff;
  padding:5px;

  i {
    font-size:10px;
    margin-right:3px;
  }
}

.sheet-music-col {
  flex:0 0 200px;
}

.login-col {
  @include xSmallOnly {
    flex:0 0 100%;
  }

  flex:0 0 200px;
}

.avatar-col {
  flex:0 0 50px;
  max-width:50px;
}

.buy-col {
  flex:0 0 100%;
  max-width:100%;

  @include small {
    flex:0 0 225px;
    max-width:225px;
  }
}

.basic-col {
  flex:0 0 100px;
  transition:color .2s ease-in-out;
}

.icon-col {
  flex:0 0 50px;

  i {
    font-size:28px;
    transition:color .1s ease-in-out, transform .1s ease-in-out;
    will-change: color, transform;

    &.reset {
      font-size:20px;
    }

    &.is-added {
      transform:rotate(45deg);
    }
  }

  .read-icon {
    transition:color .1s ease-in-out;
    pointer-events:none;

    &:hover {
      color:$recordeoYellow;
    }
  }
}

.number-col {
  flex:0 0 50px;
}

.button-col {
  flex:0 0 100%;
  margin-left:0;
  margin-top:$gutterWidth / 2;

  @include small {
    flex:0 0 250px;
    margin-left:$gutterWidth / 3;
    margin-top:0;
  }
}

.item-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden;
}

.filter-tabs {

  .heading-tab {

    @include xSmallOnly {
      width:100%;
      max-width:100%;
      margin-right:0;
      margin-bottom:$gutterWidth / 2;

      &:last-child {
        margin-bottom:0;
      }
    }
  }
}

$months: jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec;


.scheduled {
  position:relative;

  &.show-month {
    .month-col {
      visibility:visible;
    }
  }

  .month-col {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    flex:0 0 20px;
    max-width:20px;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    word-wrap:break-word;
    width: inherit;
    padding: 4px;
    text-align: center;
    visibility:hidden;
  }

  .release-day {
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    p {
      white-space:nowrap;
    }
  }
}

.related-lessons {
  .thumbnail-col {
    flex:0 0 150px;
    max-width:150px;
    min-width:150px;
  }

  .thumbnail-title {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:$gutterWidth #{$gutterWidth / 3} #{$gutterWidth / 3};
    @include topToBottomGradient(transparent, #000);
  }
}

.dashboard-new-lessons {

  //@include large {
  //  .catalogue-card:last-of-type {
  //    display:none;
  //  }
  //}
  //
  //@include smallOnly {
  //  .catalogue-card:last-of-type {
  //    display:none;
  //  }
  //}
}