@import '~cropperjs/dist/cropper.min.css';
@import '~dropzone/dist/min/dropzone.min.css';
@import '../../../assets/sass/partials/variables';

.image-processor {
  text-align:center;
}
.image-uploader {
  cursor:pointer;
  text-align:center;

  &.dz-drag-hover {
    .choose {
      display:none;
    }
    .drop {
      display:flex;
    }
  }

  .drop {
    display:none;
  }

  * {
    pointer-events:none;
  }

  .dz-preview {
    display:none;
  }

  a {
    margin:0 auto;
  }

  .uploader-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
    max-width:400px;
  }
}

.loading-element {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,.8);
  @include flexCenter();

  i {
    font-size:32px;
  }
}

.image-cropper {
  position:relative;

  .cropper-controls {
    a {
      width:35px;

      &.normal {
        width:100px;
      }
    }
  }

  .image-preview {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    img {
      max-width:500px;
      max-height:100%;
      position:absolute;
      height:auto;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);

      &.rounded {
        max-width:250px;
      }
    }
  }
}