body.dark-mode {
  color:#fefefe;
  background-color:#141414;

  .bg-white:not(.btn):not(span) {
    background-color:#242424;
  }

  .text-black {
    color:#fefefe;
  }

  .bg-black:not(header):not(#subNav):not(#breadCrumbs) {
    background-color:#fff;

    &.inverted {
      background-color:transparent;
      border-color:#fff;
    }
  }

  .hover-text-black:hover {
    color:#ffffff;
  }

  select,
  input[type='text']:not(#searchInput),
  input[type='password'],
  input[type='email'],
  input[type='number'] {
    color:#fefefe;
    background-color:#242424;
  }

  [class*='-grey-1-'] {
    border-color: #444444;
  }

  [class*='-grey-7'] {
    background-color:#444444;
  }

  .noty_theme__musoraNoty {
    background-color:#242424;
  }
}