@import './_variables.scss';

.flag {
  height:40px;
  width:64px;
  display:inline-block;
  position:relative;
  
  &:after {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url(https://s3.amazonaws.com/musora-center/assets/images/flags.png) no-repeat;
  }

  &.flag-ae:after {
    background-position: -64px 0;
  }

  &.flag-ru:after {
    background-position: -384px -704px;
  }

  &.flag-cz:after {
    background-position: -192px -192px;
  }

  &.flag-ma:after {
    background-position: -128px -512px;
  }

  &.flag-vg:after {
    background-position: -192px -896px;
  }

  &.flag-fo:after {
    background-position: -384px -256px;
  }

  &.flag-cl:after {
    background-position: -640px -128px;
  }

  &.flag-gg:after {
    background-position: -768px -256px;
  }

  &.flag-gl:after {
    background-position: -960px -256px;
  }

  &.flag-sc:after {
    background-position: -640px -704px;
  }

  &.flag-gt:after {
    background-position: -320px -320px;
  }

  &.flag-mf:after {
    background-position: -384px -512px;
  }

  &.flag-yt:after {
    background-position: -640px -896px;
  }

  &.flag-bs:after {
    background-position: -896px -64px;
  }

  &.flag-om:after {
    background-position: -320px -640px;
  }

  &.flag-an:after {
    background-position: -448px 0;
  }

  &.flag-rw:after {
    background-position: -448px -704px;
  }

  &.flag-sz:after {
    background-position: -640px -768px;
  }

  &.flag-az:after {
    background-position: -960px 0;
  }

  &.flag-tz:after {
    background-position: -640px -832px;
  }

  &.flag-lu:after {
    background-position: -960px -448px;
  }

  &.flag-mu:after {
    background-position: -192px -576px;
  }

  &.flag-ax:after {
    background-position: -896px 0;
  }

  &.flag-gd:after {
    background-position: -640px -256px;
  }

  &.flag-tg:after {
    background-position: -896px -768px;
  }

  &.flag-hk:after {
    background-position: -576px -320px;
  }

  &.flag-vn:after {
    background-position: -320px -896px;
  }

  &.flag-by:after {
    background-position: -64px -128px;
  }

  &.flag-vi:after {
    background-position: -256px -896px;
  }

  &.flag-sa:after {
    background-position: -512px -704px;
  }

  &.flag-ao:after {
    background-position: -512px 0;
  }

  &.flag-be:after {
    background-position: -192px -64px;
  }

  &.flag-cu:after {
    background-position: -960px -128px;
  }

  &.flag-iq:after {
    background-position: -256px -384px;
  }

  &.flag-pt:after {
    background-position: 0 -704px;
  }

  &.flag-sb:after {
    background-position: -576px -704px;
  }

  &.flag-tm:after {
    background-position: -192px -832px;
  }

  &.flag-mg:after {
    background-position: -448px -512px;
  }

  &.flag-mc:after {
    background-position: -192px -512px;
  }

  &.flag-gw:after {
    background-position: -448px -320px;
  }

  &.flag-bm:after {
    background-position: -640px -64px;
  }

  &.flag-fi:after {
    background-position: -128px -256px;
  }

  &.flag-kw:after {
    background-position: -256px -448px;
  }

  &.flag-kh:after {
    background-position: -896px -384px;
  }

  &.flag-tk:after {
    background-position: -64px -832px;
  }

  &.flag-gb:after {
    background-position: -576px -256px;
  }

  &.flag-th:after {
    background-position: -960px -768px;
  }

  &.flag-cg:after {
    background-position: -384px -128px;
  }

  &.flag-my:after {
    background-position: -448px -576px;
  }

  &.flag-sn:after {
    background-position: -192px -768px;
  }

  &.flag-uy:after {
    background-position: -896px -832px;
  }

  &.flag-aw:after {
    background-position: -832px 0;
  }

  &.flag-nl:after {
    background-position: -960px -576px;
  }

  &.flag-hn:after {
    background-position: -640px -320px;
  }

  &.flag-mp:after {
    background-position: -896px -512px;
  }

  &.flag-cm:after {
    background-position: -704px -128px;
  }

  &.flag-na:after {
    background-position: -576px -576px;
  }

  &.flag-fr:after {
    background-position: -448px -256px;
  }

  &.flag-mr:after {
    background-position: 0 -576px;
  }

  &.flag-al:after {
    background-position: -320px 0;
  }

  &.flag-fk:after {
    background-position: -256px -256px;
  }

  &.flag-je:after {
    background-position: -512px -384px;
  }

  &.flag-ly:after {
    background-position: -64px -512px;
  }

  &.flag-tv:after {
    background-position: -512px -832px;
  }

  &.flag-ne:after {
    background-position: -704px -576px;
  }

  &.flag-np:after {
    background-position: -64px -640px;
  }

  &.flag-mo:after {
    background-position: -832px -512px;
  }

  &.flag-sm:after {
    background-position: -128px -768px;
  }

  &.flag-ca:after {
    background-position: -192px -128px;
  }

  &.flag-kr:after {
    background-position: -192px -448px;
  }

  &.flag-td:after {
    background-position: -768px -768px;
  }

  &.flag-nr:after {
    background-position: -128px -640px;
  }

  &.flag-ch:after {
    background-position: -448px -128px;
  }

  &.flag-bf:after {
    background-position: -256px -64px;
  }

  &.flag-il:after {
    background-position: -64px -384px;
  }

  &.flag-sk:after {
    background-position: 0 -768px;
  }

  &.flag-pg:after {
    background-position: -576px -640px;
  }

  &.flag-ga:after {
    background-position: -512px -256px;
  }

  &.flag-dm:after {
    background-position: -448px -192px;
  }

  &.flag-kz:after {
    background-position: -384px -448px;
  }

  &.flag-gy:after {
    background-position: -512px -320px;
  }

  &.flag-tn:after {
    background-position: -256px -832px;
  }

  &.flag-do:after {
    background-position: -512px -192px;
  }

  &.flag-in:after {
    background-position: -192px -384px;
  }

  &.flag-ph:after {
    background-position: -640px -640px;
  }

  &.flag-ua:after {
    background-position: -704px -832px;
  }

  &.flag-sl:after {
    background-position: -64px -768px;
  }

  &.flag-it:after {
    background-position: -448px -384px;
  }

  &.flag-uz:after {
    background-position: -960px -832px;
  }

  &.flag-at:after {
    background-position: -704px 0;
  }

  &.flag-as:after {
    background-position: -640px 0;
  }

  &.flag-nf:after {
    background-position: -768px -576px;
  }

  &.flag-ss:after {
    background-position: -384px -768px;
  }

  &.flag-hr:after {
    background-position: -704px -320px;
  }

  &.flag-va:after {
    background-position: 0 -896px;
  }

  &.flag-us:after {
    background-position: -832px -832px;
  }

  &.flag-bz:after {
    background-position: -128px -128px;
  }

  &.flag-eg:after {
    background-position: -768px -192px;
  }

  &.flag-dk:after {
    background-position: -384px -192px;
  }

  &.flag-ye:after {
    background-position: -576px -896px;
  }

  &.flag-ky:after {
    background-position: -320px -448px;
  }

  &.flag-kn:after {
    background-position: -64px -448px;
  }

  &.flag-bo:after {
    background-position: -768px -64px;
  }

  &.flag-vu:after {
    background-position: -384px -896px;
  }

  &.flag-cw:after {
    background-position: -64px -192px;
  }

  &.flag-nz:after {
    background-position: -256px -640px;
  }

  &.flag-ci:after {
    background-position: -512px -128px;
  }

  &.flag-gn:after {
    background-position: -64px -320px;
  }

  &.flag-mw:after {
    background-position: -320px -576px;
  }

  &.flag-bi:after {
    background-position: -448px -64px;
  }

  &.flag-ps:after {
    background-position: -960px -640px;
  }

  &.flag-lc:after {
    background-position: -576px -448px;
  }

  &.flag-ir:after {
    background-position: -320px -384px;
  }

  &.flag-la:after {
    background-position: -448px -448px;
  }

  &.flag-ck:after {
    background-position: -576px -128px;
  }

  &.flag-bh:after {
    background-position: -384px -64px;
  }

  &.flag-to:after {
    background-position: -320px -832px;
  }

  &.flag-pn:after {
    background-position: -832px -640px;
  }

  &.flag-nu:after {
    background-position: -192px -640px;
  }

  &.flag-mt:after {
    background-position: -128px -576px;
  }

  &.flag-pa:after {
    background-position: -384px -640px;
  }

  &.flag-km:after {
    background-position: 0 -448px;
  }

  &.flag-fm:after {
    background-position: -320px -256px;
  }

  &.flag-kg:after {
    background-position: -832px -384px;
  }

  &.flag-gs:after {
    background-position: -256px -320px;
  }

  &.flag-ag:after {
    background-position: -192px 0;
  }

  &.flag-so:after {
    background-position: -256px -768px;
  }

  &.flag-gr:after {
    background-position: -192px -320px;
  }

  &.flag-nc:after {
    background-position: -640px -576px;
  }

  &.flag-bt:after {
    background-position: -960px -64px;
  }

  &.flag-ht:after {
    background-position: -768px -320px;
  }

  &.flag-ml:after {
    background-position: -640px -512px;
  }

  &.flag-cf:after {
    background-position: -320px -128px;
  }

  &.flag-bl:after {
    background-position: -576px -64px;
  }

  &.flag-ar:after {
    background-position: -576px 0;
  }

  &.flag-ad:after {
    background-position: 0 0;
  }

  &.flag-au:after {
    background-position: -768px 0;
  }

  &.flag-st:after {
    background-position: -448px -768px;
  }

  &.flag-af:after {
    background-position: -128px 0;
  }

  &.flag-sv:after {
    background-position: -512px -768px;
  }

  &.flag-jo:after {
    background-position: -640px -384px;
  }

  &.flag-bw:after {
    background-position: 0 -128px;
  }

  &.flag-rs:after {
    background-position: -320px -704px;
  }

  &.flag-et:after {
    background-position: 0 -256px;
  }

  &.flag-dz:after {
    background-position: -576px -192px;
  }

  &.flag-id:after {
    background-position: -960px -320px;
  }

  &.flag-bn:after {
    background-position: -704px -64px;
  }

  &.flag-py:after {
    background-position: -128px -704px;
  }

  &.flag-lr:after {
    background-position: -768px -448px;
  }

  &.flag-ic:after {
    background-position: -896px -320px;
  }

  &.flag-is:after {
    background-position: -384px -384px;
  }

  &.flag-er:after {
    background-position: -896px -192px;
  }

  &.flag-tj:after {
    background-position: 0 -832px;
  }

  &.flag-am:after {
    background-position: -384px 0;
  }

  &.flag-gi:after {
    background-position: -896px -256px;
  }

  &.flag-si:after {
    background-position: -960px -704px;
  }

  &.flag-ug:after {
    background-position: -768px -832px;
  }

  &.flag-cy:after {
    background-position: -128px -192px;
  }

  &.flag-pr:after {
    background-position: -896px -640px;
  }

  &.flag-lt:after {
    background-position: -896px -448px;
  }

  &.flag-tw:after {
    background-position: -576px -832px;
  }

  &.flag-tl:after {
    background-position: -128px -832px;
  }

  &.flag-tc:after {
    background-position: -704px -768px;
  }

  &.flag-li:after {
    background-position: -640px -448px;
  }

  &.flag-ki:after {
    background-position: -960px -384px;
  }

  &.flag-cn:after {
    background-position: -768px -128px;
  }

  &.flag-mm:after {
    background-position: -704px -512px;
  }

  &.flag-ng:after {
    background-position: -832px -576px;
  }

  &.flag-bj:after {
    background-position: -512px -64px;
  }

  &.flag-eu:after {
    background-position: -64px -256px;
  }

  &.flag-ni:after {
    background-position: -896px -576px;
  }

  &.flag-lb:after {
    background-position: -512px -448px;
  }

  &.flag-md:after {
    background-position: -256px -512px;
  }

  &.flag-bd:after {
    background-position: -128px -64px;
  }

  &.flag-pk:after {
    background-position: -704px -640px;
  }

  &.flag-pf:after {
    background-position: -512px -640px;
  }

  &.flag-ba:after {
    background-position: 0 -64px;
  }

  &.flag-mx:after {
    background-position: -384px -576px;
  }

  &.flag-sg:after {
    background-position: -832px -704px;
  }

  &.flag-mv:after {
    background-position: -256px -576px;
  }

  &.flag-qa:after {
    background-position: -192px -704px;
  }

  &.flag-pw:after {
    background-position: -64px -704px;
  }

  &.flag-ms:after {
    background-position: -64px -576px;
  }

  &.flag-sr:after {
    background-position: -320px -768px;
  }

  &.flag-me:after {
    background-position: -320px -512px;
  }

  &.flag-pl:after {
    background-position: -768px -640px;
  }

  &.flag-hu:after {
    background-position: -832px -320px;
  }

  &.flag-mz:after {
    background-position: -512px -576px;
  }

  &.flag-ie:after {
    background-position: 0 -384px;
  }

  &.flag-tr:after {
    background-position: -384px -832px;
  }

  &.flag-lk:after {
    background-position: -704px -448px;
  }

  &.flag-eh:after {
    background-position: -832px -192px;
  }

  &.flag-cr:after {
    background-position: -896px -128px;
  }

  &.flag-zm:after {
    background-position: -768px -896px;
  }

  &.flag-se:after {
    background-position: -768px -704px;
  }

  &.flag-sd:after {
    background-position: -704px -704px;
  }

  &.flag-mk:after {
    background-position: -576px -512px;
  }

  &.flag-bg:after {
    background-position: -320px -64px;
  }

  &.flag-im:after {
    background-position: -128px -384px;
  }

  &.flag-es:after {
    background-position: -960px -192px;
  }

  &.flag-ge:after {
    background-position: -704px -256px;
  }

  &.flag-br:after {
    background-position: -832px -64px;
  }

  &.flag-tf:after {
    background-position: -832px -768px;
  }

  &.flag-za:after {
    background-position: -704px -896px;
  }

  &.flag-cd:after {
    background-position: -256px -128px;
  }

  &.flag-zw:after {
    background-position: -832px -896px;
  }

  &.flag-jp:after {
    background-position: -704px -384px;
  }

  &.flag-gh:after {
    background-position: -832px -256px;
  }

  &.flag-ec:after {
    background-position: -640px -192px;
  }

  &.flag-dj:after {
    background-position: -320px -192px;
  }

  &.flag-ro:after {
    background-position: -256px -704px;
  }

  &.flag-wf:after {
    background-position: -448px -896px;
  }

  &.flag-ai:after {
    background-position: -256px 0;
  }

  &.flag-tt:after {
    background-position: -448px -832px;
  }

  &.flag-ws:after {
    background-position: -512px -896px;
  }

  &.flag-sh:after {
    background-position: -896px -704px;
  }

  &.flag-mq:after {
    background-position: -960px -512px;
  }

  &.flag-no:after {
    background-position: 0 -640px;
  }

  &.flag-co:after {
    background-position: -832px -128px;
  }

  &.flag-kp:after {
    background-position: -128px -448px;
  }

  &.flag-gu:after {
    background-position: -384px -320px;
  }

  &.flag-fj:after {
    background-position: -192px -256px;
  }

  &.flag-gm:after {
    background-position: 0 -320px;
  }

  &.flag-mh:after {
    background-position: -512px -512px;
  }

  &.flag-mn:after {
    background-position: -768px -512px;
  }

  &.flag-de:after {
    background-position: -256px -192px;
  }

  &.flag-ls:after {
    background-position: -832px -448px;
  }

  &.flag-vc:after {
    background-position: -64px -896px;
  }

  &.flag-gq:after {
    background-position: -128px -320px;
  }

  &.flag-ee:after {
    background-position: -704px -192px;
  }

  &.flag-ke:after {
    background-position: -768px -384px;
  }

  &.flag-lv:after {
    background-position: 0 -512px;
  }

  &.flag-sy:after {
    background-position: -576px -768px;
  }

  &.flag-pe:after {
    background-position: -448px -640px;
  }

  &.flag-cv:after {
    background-position: 0 -192px;
  }

  &.flag-jm:after {
    background-position: -576px -384px;
  }

  &.flag-bb:after {
    background-position: -64px -64px;
  }

  &.flag-ve:after {
    background-position: -128px -896px;
  }
}