@import './_variables.scss';

.forum-post {

  .avatar-column {
    flex: 0 0 150px;
  }
}

.pagination-row {
  padding:6px 0;
  background-color:#e3e8e9;
}

.topic-col {
  flex:0 0 100%;

  @include small {
    flex:0 0 250px;
    margin-left:$gutterWidth / 2;
  }
}

.new-post-badge {
  font-size:10px;
  max-height:25px;

  i {
    position:relative;
    width:auto;
    font-size:10px;
    display:inline-block;
    margin-right:5px;
  }
}