@import './_variables.scss';


.form-group {
  position:relative;

  &.textarea {
    label {
      justify-content:flex-start;
      padding-top:13px;
    }
  }
  label {
    position:absolute;
    left:$gutterWidth / 3;
    top:0;
    height:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    will-change:transform, color;
    transition:transform .2s ease-in-out, color .1s ease-in-out;
    transform-origin:0 0;
    color:$lightGray;
    pointer-events:none;

    // Pull in font sizes from the .body class
    @extend .body;

    @include medium {
      left:$gutterWidth / 2;
    }
  }

  .errors {
    list-style-type:none;
    color:$errorRed;
    padding-left:$gutterWidth / 2;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
select,
textarea {
  height:50px;
  border-radius:5px;
  background:#fff;
  box-shadow:none;
  border:1px solid $lightGray;
  outline:none;
  width:100%;
  padding-top:12px;
  color:#000;

  // Pull in font sizes from the .body class
  @extend .body;

  // Pull in padding styles from the .ph class
  @extend .ph;

  &:focus,
  &.has-input {
    box-shadow: 0 0 2px rgba(0,0,0,0.2);

    & ~ label {
      transform:scale(.7) translateY(-10px);
      color:$primary;

      &.drumeo {
        color:$drumeoBlue;
      }

      &.pianote {
        color:$pianoteRed;
      }

      &.guitareo {
        color:$guitareoGreen;
      }

      &.recordeo {
        color:$recordeoYellow;
      }
    }
  }

  &.has-error {
    border-color:$errorRed;

    & ~ label {
      color: $errorRed!important;
    }
  }

  &.borderless {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #d1d1d1;
    background:none;
    border-radius:0;
    outline:none;
    box-shadow:none;
    padding-left:0;

    & ~ label {
      left:0;
    }
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

textarea {
  resize:none;
  height:150px;

  label {
    justify-content:flex-start;
  }
}

.inline-inputs {
  flex-wrap:wrap;

  .flex-column {
    margin-bottom:$gutterWidth / 3;
    flex:0 0 100%;

    @include small {
      flex:0 0 50%;

      &:first-child {
        padding-right:$gutterWidth / 6;
      }

      &:last-child {
        padding-left:$gutterWidth / 6;
      }
    }
  }
}

.flatpickr-time {
  input[type="text"] {
    height:100%;
    padding:0;
    border:none;
    box-shadow:none;
  }
}