@import './_variables.scss';

.forum-post, .comment-post {

  .post-body {
    word-break:break-word;
    word-wrap:break-word;

    span.post-id {
      display:none;
    }

    blockquote {
      border:1px solid #d1d1d1;
      margin:0 0 0 1em;
      padding:1em;
      border-radius:5px;
    }

    .quote-heading {
      background:#e3e8e9;
      padding:6px 15px;
      margin:-1em;

      strong {
        font-size:13px;
      }
      em {
        font-size:10px;
        font-style:italic;
        text-transform:uppercase;
        color:#a8a8a8;
      }
    }
  }

  &.pinned {
    background:transparentize($recordeoYellow, 0.9);
  }
}

.forum-post .avatar-column {
  flex: 0 0 25px;
  max-width:25px;

  @include small {
    flex: 0 0 50px;
    max-width:50px;
  }
}

.comment-like-user {
  min-height:72px;
  transition:background-color .2s ease-in-out;

  &:hover {
    background-color:nth(nth($greys, 1), 2);
  }

  .avatar-column {
    flex: 0 0 50px;
    max-width:50px;
  }
}
.comment-post .avatar-column {
  flex: 0 0 75px;
  max-width:75px;

  @include medium {
    flex: 0 0 100px;
    max-width:100px;
  }
}

.search-result-post blockquote {
  display:none!important;
}

.pagination-row {
  padding:6px 0;
  background-color:#e3e8e9;
}

.topic-col {
  flex:0 0 100%;
  min-height:50px;

  @include small {
    flex:0 0 250px;
    margin-left:$gutterWidth / 2;
  }
}

.new-post-badge {
  vertical-align:middle;

  & > span {
    font-size:10px;
    max-height:25px;
    width:100%;
    vertical-align:middle;

    i {
      position:relative;
      width:auto;
      font-size:10px;
      margin-right:5px;
    }
  }
}

.likes-icon {
  border-radius:50%;
  width:18px;
  height:18px;
  text-align:center;
  line-height:18px;
  margin-right:5px;
  font-size:10px;

  &.big {
    height:40px;
    width:40px;
    line-height:40px;
    font-size:20px;
  }
}

.search-result-post {
  border-left: 1px solid $lightGray;
}