@import './_variables.scss';


.form-group {
  position:relative;

  &.textarea {
    label {
      justify-content:flex-start;
    }
  }
  label:not(.toggle-label) {
    position:absolute;
    left:$gutterWidth / 3;
    top:0;
    height:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    will-change:transform, color;
    transition:transform .2s ease-in-out, color .1s ease-in-out;
    transform-origin:0 0;
    color:nth(nth($greys, 3), 2);
    pointer-events:none;

    // Pull in font sizes from the .body class
    @extend .body;

    @include medium {
      left:$gutterWidth / 2;
    }
  }

  .toggle-label {
    flex-grow:1;

    @extend .noselect;
    @extend .body;
  }

  .errors {
    list-style-type:none;
    color:$errorRed;
    padding-left:$gutterWidth / 2;
  }

  &.file-input {
    position:relative;

    label {
      height:50px;
      width:100%;
      left:0;
      position:relative;
    }

    input[type="file"]{
      position:absolute;
      opacity:0;
      width:100%;
      height:100%;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  height:50px;
  border-radius:5px;
  background:#fff;
  box-shadow:none;
  border:1px solid $lightGray;
  outline:none;
  width:100%;
  padding-top:12px;

  // Pull in font sizes from the .body class
  @extend .body;

  // Pull in padding styles from the .ph class
  @extend .ph;

  &:focus {
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }

  &:focus,
  &.has-input,
  &.sticky-label {

    & ~ label {
      transform:scale(.7) translateY(-10px);
      color:$primary;

      @each $key, $value in $brand_colors {
        &.#{$key} {
          color: $value;
        }
      }

      @each $key, $value in $content_colors {
        &.#{$key} {
          color: $value;
        }
        &.#{$key}s {
          color: $value;
        }
      }
    }
  }

  &:disabled {
    background-color:#f2f2f2;
    color:nth(nth($greys, 3), 2);;
  }

  &.has-error {
    border-color:$errorRed;

    & ~ label {
      color: $errorRed!important;
    }
  }

  &.no-label {
    padding-top:0;
  }

  &.borderless {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #d1d1d1;
    background:none;
    border-radius:0;
    outline:none;
    box-shadow:none;
    padding-left:0;

    & ~ label {
      left:0;
    }
  }

  &.solo {
    border:none;
    background:none;
    border-radius:0;
    outline:none;
    box-shadow:none;
    padding-left:0;
    padding-top:0;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.date-input {

  input[type='hidden'].has-input {
    & ~ label {
      transform:scale(.7) translateY(-10px);
      color:$primary;

      &.drumeo {
        color:$drumeoBlue;
      }

      &.pianote {
        color:$pianoteRed;
      }

      &.guitareo {
        color:$guitareoGreen;
      }

      &.recordeo {
        color:$recordeoYellow;
      }
    }
  }
}

select {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIgogICB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIKICAgdmlld0JveD0iMCAtMjU2IDE3OTIgMTc5MiIKICAgaWQ9InN2ZzI5ODkiCiAgIHZlcnNpb249IjEuMSIKICAgaW5rc2NhcGU6dmVyc2lvbj0iMC40OC4zLjEgcjk4ODYiCiAgIHdpZHRoPSIxMDAlIgogICBoZWlnaHQ9IjEwMCUiCiAgIHNvZGlwb2RpOmRvY25hbWU9ImNhcmV0X2Rvd25fZm9udF9hd2Vzb21lLnN2ZyI+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhMjk5OSI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGRlZnMKICAgICBpZD0iZGVmczI5OTciIC8+CiAgPHNvZGlwb2RpOm5hbWVkdmlldwogICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIKICAgICBib3JkZXJvcGFjaXR5PSIxIgogICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiCiAgICAgZ3JpZHRvbGVyYW5jZT0iMTAiCiAgICAgZ3VpZGV0b2xlcmFuY2U9IjEwIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSI2NDAiCiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iNDgwIgogICAgIGlkPSJuYW1lZHZpZXcyOTk1IgogICAgIHNob3dncmlkPSJmYWxzZSIKICAgICBpbmtzY2FwZTp6b29tPSIwLjEzMTY5NjQzIgogICAgIGlua3NjYXBlOmN4PSI4OTYiCiAgICAgaW5rc2NhcGU6Y3k9Ijg5NiIKICAgICBpbmtzY2FwZTp3aW5kb3cteD0iMCIKICAgICBpbmtzY2FwZTp3aW5kb3cteT0iMjUiCiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIKICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJzdmcyOTg5IiAvPgogIDxnCiAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMSwwLDAsLTEsNDAyLjQ0MDY4LDEyMzkuODY0NCkiCiAgICAgaWQ9ImcyOTkxIj4KICAgIDxwYXRoCiAgICAgICBkPSJtIDEwMjQsODMyIHEgMCwtMjYgLTE5LC00NSBMIDU1NywzMzkgcSAtMTksLTE5IC00NSwtMTkgLTI2LDAgLTQ1LDE5IEwgMTksNzg3IHEgLTE5LDE5IC0xOSw0NSAwLDI2IDE5LDQ1IDE5LDE5IDQ1LDE5IGggODk2IHEgMjYsMCA0NSwtMTkgMTksLTE5IDE5LC00NSB6IgogICAgICAgaWQ9InBhdGgyOTkzIgogICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIKICAgICAgIHN0eWxlPSJmaWxsOmN1cnJlbnRDb2xvciIgLz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat calc(100% - 10px) 50%;
  background-size:15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor:pointer;

  &.text-white {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIKCSBpZD0ic3ZnMjk4OSIgaW5rc2NhcGU6dmVyc2lvbj0iMC40OC4zLjEgcjk4ODYiIHNvZGlwb2RpOmRvY25hbWU9ImNhcmV0X2Rvd25fZm9udF9hd2Vzb21lLnN2ZyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA2MTIgNzkyIgoJIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDYxMiA3OTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHNvZGlwb2RpOm5hbWVkdmlldyAgYm9yZGVyY29sb3I9IiM2NjY2NjYiIGJvcmRlcm9wYWNpdHk9IjEiIGdyaWR0b2xlcmFuY2U9IjEwIiBndWlkZXRvbGVyYW5jZT0iMTAiIGlkPSJuYW1lZHZpZXcyOTk1IiBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJzdmcyOTg5IiBpbmtzY2FwZTpjeD0iODk2IiBpbmtzY2FwZTpjeT0iODk2IiBpbmtzY2FwZTpwYWdlb3BhY2l0eT0iMCIgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iNDgwIiBpbmtzY2FwZTp3aW5kb3ctbWF4aW1pemVkPSIwIiBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9IjY0MCIgaW5rc2NhcGU6d2luZG93LXg9IjAiIGlua3NjYXBlOndpbmRvdy15PSIyNSIgaW5rc2NhcGU6em9vbT0iMC4xMzE2OTY0MyIgb2JqZWN0dG9sZXJhbmNlPSIxMCIgcGFnZWNvbG9yPSIjZmZmZmZmIiBzaG93Z3JpZD0iZmFsc2UiPgoJPC9zb2RpcG9kaTpuYW1lZHZpZXc+CjxnIGlkPSJnMjk5MSIgdHJhbnNmb3JtPSJtYXRyaXgoMSwwLDAsLTEsNDAyLjQ0MDY4LDEyMzkuODY0NCkiPgoJPHBhdGggaWQ9InBhdGgyOTkzIiBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiBjbGFzcz0ic3QwIiBkPSJNODQuNyw5MjMuMWMwLTUuOS0yLjItMTEtNi41LTE1LjRsLTE1My0xNTMKCQljLTQuMy00LjMtOS40LTYuNS0xNS40LTYuNWMtNS45LDAtMTEsMi4yLTE1LjQsNi41bC0xNTMsMTUzYy00LjMsNC4zLTYuNSw5LjQtNi41LDE1LjRjMCw1LjksMi4yLDExLDYuNSwxNS40CgkJYzQuMyw0LjMsOS40LDYuNSwxNS40LDYuNWgzMDZjNS45LDAsMTEtMi4yLDE1LjQtNi41QzgyLjYsOTM0LjIsODQuNyw5MjkuMSw4NC43LDkyMy4xeiIvPgo8L2c+Cjwvc3ZnPgo=) no-repeat calc(100% - 10px) 50%;
    background-size:15px;
  }

  &.sticky-label {
    &.is-clearable {
      padding-right:55px;
    }
  }

  &.borderless {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIgogICB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIKICAgdmlld0JveD0iMCAtMjU2IDE3OTIgMTc5MiIKICAgaWQ9InN2ZzI5ODkiCiAgIHZlcnNpb249IjEuMSIKICAgaW5rc2NhcGU6dmVyc2lvbj0iMC40OC4zLjEgcjk4ODYiCiAgIHdpZHRoPSIxMDAlIgogICBoZWlnaHQ9IjEwMCUiCiAgIHNvZGlwb2RpOmRvY25hbWU9ImNhcmV0X2Rvd25fZm9udF9hd2Vzb21lLnN2ZyI+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhMjk5OSI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGRlZnMKICAgICBpZD0iZGVmczI5OTciIC8+CiAgPHNvZGlwb2RpOm5hbWVkdmlldwogICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIKICAgICBib3JkZXJvcGFjaXR5PSIxIgogICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiCiAgICAgZ3JpZHRvbGVyYW5jZT0iMTAiCiAgICAgZ3VpZGV0b2xlcmFuY2U9IjEwIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSI2NDAiCiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iNDgwIgogICAgIGlkPSJuYW1lZHZpZXcyOTk1IgogICAgIHNob3dncmlkPSJmYWxzZSIKICAgICBpbmtzY2FwZTp6b29tPSIwLjEzMTY5NjQzIgogICAgIGlua3NjYXBlOmN4PSI4OTYiCiAgICAgaW5rc2NhcGU6Y3k9Ijg5NiIKICAgICBpbmtzY2FwZTp3aW5kb3cteD0iMCIKICAgICBpbmtzY2FwZTp3aW5kb3cteT0iMjUiCiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIKICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJzdmcyOTg5IiAvPgogIDxnCiAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMSwwLDAsLTEsNDAyLjQ0MDY4LDEyMzkuODY0NCkiCiAgICAgaWQ9ImcyOTkxIj4KICAgIDxwYXRoCiAgICAgICBkPSJtIDEwMjQsODMyIHEgMCwtMjYgLTE5LC00NSBMIDU1NywzMzkgcSAtMTksLTE5IC00NSwtMTkgLTI2LDAgLTQ1LDE5IEwgMTksNzg3IHEgLTE5LDE5IC0xOSw0NSAwLDI2IDE5LDQ1IDE5LDE5IDQ1LDE5IGggODk2IHEgMjYsMCA0NSwtMTkgMTksLTE5IDE5LC00NSB6IgogICAgICAgaWQ9InBhdGgyOTkzIgogICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIKICAgICAgIHN0eWxlPSJmaWxsOmN1cnJlbnRDb2xvciIgLz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat calc(100% - 10px) 50%;
    background-size:15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor:pointer;

    & ~ label {
      left:0!important;
    }
  }
}

.radio-input {
  height:30px;
  width:30px;
  flex-basis:30px;
  min-width:30px;
  position:relative;
  cursor:pointer;

  input[type="radio"] {
    opacity:0;
    z-index:1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    cursor:pointer;

    &:checked ~ .toggle {
      background-color:#000;
      background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIKCSBpZD0ic3ZnMzAwMSIgaW5rc2NhcGU6dmVyc2lvbj0iMC40OC4zLjEgcjk4ODYiIHNvZGlwb2RpOmRvY25hbWU9Im9rX2ZvbnRfYXdlc29tZS5zdmciIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgoJIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNjEyIDYxMiIKCSBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA2MTIgNjEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+Cjxzb2RpcG9kaTpuYW1lZHZpZXcgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IiBib3JkZXJvcGFjaXR5PSIxIiBncmlkdG9sZXJhbmNlPSIxMCIgZ3VpZGV0b2xlcmFuY2U9IjEwIiBpZD0ibmFtZWR2aWV3MzAwNyIgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0ic3ZnMzAwMSIgaW5rc2NhcGU6Y3g9Ijg5NiIgaW5rc2NhcGU6Y3k9Ijg5NiIgaW5rc2NhcGU6cGFnZW9wYWNpdHk9IjAiIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjQ4MCIgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIgaW5rc2NhcGU6d2luZG93LXdpZHRoPSI2NDAiIGlua3NjYXBlOndpbmRvdy14PSIwIiBpbmtzY2FwZTp3aW5kb3cteT0iMjUiIGlua3NjYXBlOnpvb209IjAuMTMxNjk2NDMiIG9iamVjdHRvbGVyYW5jZT0iMTAiIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIgc2hvd2dyaWQ9ImZhbHNlIj4KCTwvc29kaXBvZGk6bmFtZWR2aWV3Pgo8ZyBpZD0iZzMwMDMiIHRyYW5zZm9ybT0ibWF0cml4KDEsMCwwLC0xLDcuNTkzMjIwMywxMjE3LjA4NDcpIj4KCTxwYXRoIGlkPSJwYXRoMzAwNSIgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgY2xhc3M9InN0MCIgZD0iTTU2NS43LDEwNDUuM2MwLTkuMS0zLjItMTYuOC05LjYtMjMuMkwzMDguOSw3NzQuOAoJCWwtNDYuNC00Ni40Yy02LjQtNi40LTE0LjEtOS42LTIzLjItOS42cy0xNi44LDMuMi0yMy4yLDkuNmwtNDYuNCw0Ni40TDQ1LjksODk4LjRjLTYuNCw2LjQtOS42LDE0LjEtOS42LDIzLjIKCQljMCw5LjEsMy4yLDE2LjgsOS42LDIzLjJsNDYuNCw0Ni40YzYuNCw2LjQsMTQuMSw5LjYsMjMuMiw5LjZzMTYuOC0zLjIsMjMuMi05LjZsMTAwLjQtMTAwLjdsMjI0LDIyNC40YzYuNCw2LjQsMTQuMSw5LjYsMjMuMiw5LjYKCQljOS4xLDAsMTYuOC0zLjIsMjMuMi05LjZsNDYuNC00Ni40QzU2Mi41LDEwNjIuMSw1NjUuNywxMDU0LjQsNTY1LjcsMTA0NS4zeiIvPgo8L2c+Cjwvc3ZnPgo=');
    }
  }

  .toggle {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparentize(#000, .6);
    background-repeat:no-repeat;
    background-size:50%;
    background-position:center;
    border-radius: 30px;
    transition: background-color .2s ease-in-out;
    will-change: background-color;
    pointer-events: none;
    z-index: 1;
  }
}

.toggle-input {
  height:30px;
  width:60px;
  flex-basis:60px;
  min-width:60px;
  position:relative;
  cursor:pointer;

  input[type="checkbox"] {
    opacity:0;
    z-index:1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    cursor:pointer;

    &:checked ~ .toggle {
      background-color:#000;

      &:after {
        content: "ON";
        left:6px;
        right:initial;
      }

      .handle {
        transform:translateX(30px);
      }
    }
  }

  .toggle {
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:absolute;
    background-color:transparentize(#000, .6);
    border-radius:30px;
    transition:background-color .2s ease-in-out;
    will-change:background-color;
    pointer-events:none;
    z-index:1;

    &:after {
      content: "OFF";
      position:absolute;
      top:3px;
      right:6px;
      width:24px;
      height:24px;
      text-align:center;
      color:#fff;
      font-size:12px;
      font-weight:700;

      @extend .flex-center;
    }

    .handle {
      background-color:#fff;
      height:24px;
      width:24px;
      border-radius:50%;
      position:absolute;
      top:3px;
      left:3px;
      will-change:transform;
      transition:transform .2s ease-in-out;
    }
  }
}

textarea {
  resize:none;
  height:150px;
  padding-top:15px;

  label {
    justify-content:flex-start;
  }
}

.inline-inputs {
  flex-wrap:wrap;

  @include small {
    flex-wrap:nowrap;
  }

  .flex-column {
    margin-bottom:$gutterWidth / 3;
    flex:0 0 100%;

    @include small {
      flex:1 1 50%;
      padding:0 #{$gutterWidth / 6};

      &:first-child {
        padding-right:$gutterWidth / 6;
        padding-left:0;
      }

      &:last-child {
        padding-left:$gutterWidth / 6;
        padding-right:0;
      }

      &.smaller {
        flex:0 2 50%;
      }
    }
  }
}

.flatpickr-time {
  input[type="text"] {
    height:100%;
    padding:0;
    border:none;
    box-shadow:none;
  }
}

.form-success-message {
  transition:all .2s ease-in-out;
  opacity:1;
  visibility:visible;
  overflow:hidden;
  max-height:1000px;

  &.removed {
    opacity:0;
    visibility:visible;
    max-height:0;
    padding:0;
    margin-top:0;
  }
}