@import './_variables.scss';

.forum-post, .comment-post {

  .avatar-column {
    flex: 0 0 50px;
  }

  .post-body {
    blockquote {
      border:1px solid #d1d1d1;
      margin:0 0 0 1em;
      padding:1em;
      border-radius:5px;
    }

    .quote-heading {
      background:#e3e8e9;
      padding:6px 15px;
      margin:-1em;

      strong {
        font-size:13px;
      }
      em {
        font-size:10px;
        font-style:italic;
        text-transform:uppercase;
        color:#a8a8a8;
      }
    }
  }

  &.pinned {
    background:transparentize($recordeoYellow, 0.9);
  }
}

.pagination-row {
  padding:6px 0;
  background-color:#e3e8e9;
}

.topic-col {
  flex:0 0 100%;
  min-height:50px;

  @include small {
    flex:0 0 250px;
    margin-left:$gutterWidth / 2;
  }
}

.new-post-badge {
  vertical-align:middle;

  & > span {
    font-size:10px;
    max-height:25px;
    width:100%;
    vertical-align:middle;

    i {
      position:relative;
      width:auto;
      font-size:10px;
      margin-right:5px;
    }
  }
}