@import './_variables.scss';

///////////////////////////////////////
///
/// TABLE OF CONTENTS
///
/// 1. FLEX CONTAINERS
/// 2. CONTAINERS
/// 3. VISIBILITY
/// 4. SPACING
///
///////////////////////////////////////


///////////////////////////////////////
/// 1. FLEX CONTAINERS
///////////////////////////////////////

.flex {
  display: flex;
  box-sizing:border-box;
  flex: 1 1 auto;
}

.flex-row {
  flex-direction: row;
  align-items:stretch;
  font-size:0;

  &.align-center {
    justify-content: center;
    align-items: center;
  }
  &.align-h-center {
    justify-content: center;
  }
  &.align-h-left {
    justify-content: flex-start;
  }
  &.align-h-right {
    justify-content: flex-end;
  }
  &.align-v-center {
    align-items: center;
  }
  &.align-v-top {
    align-items: flex-start;
  }
  &.align-v-bottom {
    align-items: flex-end;
  }

  &.reverse {
    flex-direction:row-reverse;
  }
}

.flex-column {
  flex-direction: column;

  &.align-center {
    justify-content: center;
    align-items: center;
  }
  &.align-v-center {
    justify-content: center;
  }
  &.align-v-top {
    justify-content: flex-start;
  }
  &.align-v-bottom {
    justify-content: flex-end;
  }
  &.align-h-center {
    align-items: center;
  }
  &.align-h-left {
    align-items: flex-start;
  }
  &.align-h-right {
    align-items: flex-end;
  }

  &.reverse {
    flex-direction:column-reverse;
  }
}

.flex-wrap {
  flex-wrap:wrap;
}

.flex-wrap-xs-only {
  @include xSmallOnly {
    flex-wrap:wrap;
  }
}

.flex-center {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.flex-auto {
  flex:0 0 auto;
}

.spacer {
  flex:1 1 auto;
}

.grow {
  flex:1 1 100%;
  min-width:1px;
}

.sq-btn-col {
  flex:0 0 50px;
}

///////////////////////////////////////
/// 2. CONTAINERS
///////////////////////////////////////

.container {
  display:block;
  margin:0 auto;
  max-width:100%;
  padding-left:$gutterWidth / 3;
  padding-right:$gutterWidth / 3;

  @include small {
    max-width:100%;
  }

  @include medium {
    max-width:$medium;
    padding-left:$gutterWidth / 2;
    padding-right:$gutterWidth / 2;
  }

  @include large {
    max-width:$large;
  }

  @include xLarge {
    max-width:$xLarge;
  }

  &.fluid {
    max-width:100%;
  }

  &.lean {
    max-width:$large;
  }

  &.narrow {
    max-width:47.5em;
  }
}

@for $i from 1 through 12 {
  .xs-#{$i} {
    flex: 0 0 #{$i / 12 * 100%};
    max-width:#{$i / 12 * 100%};
  }
  .xs-offset-#{$i} {
    margin-left:#{$i / 12 * 100%};
  }
}

@include small {
  @for $i from 1 through 12 {
    .sm-#{$i} {
      flex: 0 0 #{$i / 12 * 100%};
      max-width:#{$i / 12 * 100%};
    }
    .sm-offset-#{$i} {
      margin-left:#{$i / 12 * 100%};
    }
  }
}

@include medium {
  @for $i from 1 through 12 {
    .md-#{$i} {
      flex: 0 0 #{$i / 12 * 100%};
      max-width:#{$i / 12 * 100%};
    }
    .md-offset-#{$i} {
      margin-left:#{$i / 12 * 100%};
    }
  }
}

@include large {
  @for $i from 1 through 12 {
    .lg-#{$i} {
      flex: 0 0 #{$i / 12 * 100%};
      max-width:#{$i / 12 * 100%};
    }
    .lg-offset-#{$i} {
      margin-left:#{$i / 12 * 100%};
    }
  }
}

@include xLarge {
  @for $i from 1 through 12 {
    .xl-#{$i} {
      flex: 0 0 #{$i / 12 * 100%};
      max-width:#{$i / 12 * 100%};
    }
    .xl-offset-#{$i} {
      margin-left:#{$i / 12 * 100%};
    }
  }
}


///////////////////////////////////////
/// 3. VISIBILITY
///////////////////////////////////////

.hide {
  display:none!important;
}

@include xSmallOnly{
  .hide-xs-only,
  .hide-xs-up,
  .hide-sm-down,
  .hide-md-down,
  .hide-lg-down,
  .hide-xl-down {
    display:none!important;
  }
}

@include smallOnly {
  .hide-sm-only,
  .hide-xs-up,
  .hide-sm-up,
  .hide-sm-down,
  .hide-md-down,
  .hide-lg-down,
  .hide-xl-down {
    display:none!important;
  }
}

@include mediumOnly {
  .hide-md-only,
  .hide-xs-up,
  .hide-sm-up,
  .hide-md-up,
  .hide-md-down,
  .hide-lg-down,
  .hide-xl-down {
    display:none!important;
  }
}

@include large {
  .hide-lg-only,
  .hide-xs-up,
  .hide-sm-up,
  .hide-md-up,
  .hide-lg-up,
  .hide-lg-down,
  .hide-xl-down {
    display:none!important;
  }
}

@include xLarge {
  .hide-xl-only,
  .hide-xl-down {
    display:none!important;
  }
}

///////////////////////////////////////
/// 4. SPACING
///////////////////////////////////////

.collapsed {
  padding:0!important;
}

.collapsed-xs {
  @include xSmallOnly {
    padding:0!important;
  }
}

.collapsed-h {
  padding-left:0!important;
  padding-right:0!important;
}

.collapsed-v {
  padding-top:0!important;
  padding-bottom:0!important;
}

.gutter {
  @include xSmallOnly {
    flex:0 0 $gutterWidth / 3;
    max-width:$gutterWidth / 3;
  }

  flex:0 0 $gutterWidth / 2;
  max-width:$gutterWidth / 2;
}

$numerators: 2 3 6 9 10;
@each $numerator in $numerators {
  // This operation loops through the $numerators collection above
  // Divides the numerator by 6
  // This gives is 5 ratios: 0.333, 0.5, 1, 1.5, 1.666
  // That ratio is then applied to the $gutterWidth variable to affect it

  $i: index($numerators, $numerator);
  $ratio: $numerator / 6;
  $spacing: $gutterWidth * $ratio;

  // Margin
  .ma-#{$i}{
    margin:$spacing;
  }

  .mv-#{$i} {
    margin-top:$spacing;
    margin-bottom:$spacing;
  }

  .mh-#{$i} {
    margin-left:$spacing;
    margin-right:$spacing;
  }

  .mt-#{$i}{
    margin-top:$spacing;
  }

  .mb-#{$i}{
    margin-bottom:$spacing;
  }

  .ml-#{$i}{
    margin-left:$spacing;
  }

  .mr-#{$i}{
    margin-right:$spacing;
  }

  // Negative Margin
  .nma-#{$i}{
    margin:-#{$spacing};
  }

  .nmv-#{$i} {
    margin-top:-#{$spacing};
    margin-bottom:-#{$spacing};
  }

  .nmh-#{$i} {
    margin-left:-#{$spacing};
    margin-right:-#{$spacing};
  }

  .nmt-#{$i}{
    margin-top:-#{$spacing};
  }

  .nmb-#{$i}{
    margin-bottom:-#{$spacing};
  }

  .nml-#{$i}{
    margin-left:-#{$spacing};
  }

  .nmr-#{$i}{
    margin-right:-#{$spacing};
  }

  // Padding
  .pa-#{$i}{
    padding:$spacing;
  }

  .pv-#{$i} {
    padding-top:$spacing;
    padding-bottom:$spacing;
  }

  .ph-#{$i} {
    padding-left:$spacing;
    padding-right:$spacing;
  }

  .pt-#{$i}{
    padding-top:$spacing;
  }

  .pb-#{$i}{
    padding-bottom:$spacing;
  }

  .pl-#{$i}{
    padding-left:$spacing;
  }

  .pr-#{$i}{
    padding-right:$spacing;
  }
}

.ma {
  margin:$gutterWidth / 3;

  @include medium {
    margin:$gutterWidth / 2;
  }
}

.mh {
  margin-left:$gutterWidth / 3;
  margin-right:$gutterWidth / 3;

  @include medium {
    margin-left:$gutterWidth / 2;
    margin-right:$gutterWidth / 2;
  }
}

.mv {
  margin-bottom:$gutterWidth / 3;
  margin-top:$gutterWidth / 3;

  @include medium {
    margin-bottom:$gutterWidth / 2;
    margin-top:$gutterWidth / 2;
  }
}

.mt {
  margin-top:$gutterWidth / 3;

  @include medium {
    margin-top:$gutterWidth / 2;
  }
}

.mb {
  margin-bottom:$gutterWidth / 3;

  @include medium {
    margin-bottom:$gutterWidth / 2;
  }
}

.pa {
  padding:$gutterWidth / 3;

  @include medium {
    padding:$gutterWidth / 2;
  }
}

.ph {
  padding-left:$gutterWidth / 3;
  padding-right:$gutterWidth / 3;

  @include medium {
    padding-left:$gutterWidth / 2;
    padding-right:$gutterWidth / 2;
  }
}

.pv {
  padding-bottom:$gutterWidth / 3;
  padding-top:$gutterWidth / 3;

  @include medium {
    padding-bottom:$gutterWidth / 2;
    padding-top:$gutterWidth / 2;
  }
}

.pt {
  padding-top:$gutterWidth / 3;

  @include medium {
    padding-top:$gutterWidth / 2;
  }
}

.pr {
  padding-right:$gutterWidth / 3;

  @include medium {
    padding-right:$gutterWidth / 2;
  }
}

.pl {
  padding-left:$gutterWidth / 3;

  @include medium {
    padding-left:$gutterWidth / 2;
  }
}

.pb {
  padding-bottom:$gutterWidth / 3;

  @include medium {
    padding-bottom:$gutterWidth / 2;
  }
}

// CONDITIONAL PADDING/MARGIN
@include xSmallOnly {
  .p-sm-up {
    padding:0!important;
  }
  .m-sm-up {
    margin:0!important;
  }
  .p-lg-only {
    padding:0!important;
  }
}

@include small {
  .p-xs-only {
    padding:0!important;
  }
  .m-xs-only {
    margin:0!important;
  }
}

@include medium {
  .p-sm-down {
    margin:0!important;
  }
  .m-sm-down {
    margin:0!important;
  }
}

@include smallOnly {
  .p-lg-only {
    padding:0!important;
  }
  .m-lg-only {
    margin:0!important;
  }
}

@include mediumOnly {
  .p-lg-only {
    padding:0!important;
  }
  .m-lg-only {
    margin:0!important;
  }
}


