@import './_variables.scss';

[data-open-modal] > * {
  pointer-events:none;
}

.modal {
  position:fixed;
  top:0;
  left:0;
  padding:$gutterWidth / 3;
  z-index:101;
  width:100%;
  height:100%;
  opacity:0;
  visibility:hidden;
  will-change:opacity, visibility, transform;
  transition:opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out;
  transform:scale(.9);
  pointer-events:none;

  &.active {
    opacity:1;
    visibility:visible;
    transform:scale(1);
  }

  &.small > div {
    max-width:480px;
  }

  & > div {
    overflow-y:auto;
    position:fixed;
    top:50%;
    left:50%;
    width:95%;
    max-width:800px;
    max-height:95%;
    transform:translate(-50%, -50%);
    pointer-events:auto;

    @include xSmallOnly {
      max-height:90%;
    }
  }

  .close-button {
    position:absolute;
    height:25px;
    width:25px;
    top:0;
    right:0;
    background:#000;
    color:#fff;
    font-size:14px;
    border-radius:50%;
    border:2px solid #fff;
    cursor: pointer;
    z-index:5;

    @extend .flex-center;
  }
}

#modalOverlay {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,.8);
  z-index:100;
  opacity:0;
  visibility:hidden;
  will-change:opacity, visibility;
  transition:opacity .3s ease-in-out, visibility .3s ease-in-out;

  &.active {
    opacity:1;
    visibility:visible;
  }

  &:before {
    content: '';
    position:absolute;
    top:$gutterWidth / 3;
    right:$gutterWidth / 3;
    height:20px;
    width:20px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxuczpzZXJpZj0iaHR0cDovL3d3dy5zZXJpZi5jb20vIiBzdHlsZT0iZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEuNDE0MjE7Ij48cGF0aCBkPSJNMTQuNDkyLDExLjA5NGMwLjIzMywwLjIzMyAwLjM1LDAuNTE2IDAuMzUsMC44NWMwLDAuMzMzIC0wLjExNywwLjYxNiAtMC4zNSwwLjg0OWwtMS42OTksMS42OTljLTAuMjMzLDAuMjMzIC0wLjUxNiwwLjM1IC0wLjg0OSwwLjM1Yy0wLjMzNCwwIC0wLjYxNywtMC4xMTcgLTAuODUsLTAuMzVsLTMuNjczLC0zLjY3M2wtMy42NzMsMy42NzNjLTAuMjMzLDAuMjMzIC0wLjUxNiwwLjM1IC0wLjg1LDAuMzVjLTAuMzMzLDAgLTAuNjE2LC0wLjExNyAtMC44NDksLTAuMzVsLTEuNjk5LC0xLjY5OWMtMC4yMzMsLTAuMjMzIC0wLjM1LC0wLjUxNiAtMC4zNSwtMC44NDljMCwtMC4zMzQgMC4xMTcsLTAuNjE3IDAuMzUsLTAuODVsMy42NzMsLTMuNjczbC0zLjY3MywtMy42NzNjLTAuMjMzLC0wLjIzMyAtMC4zNSwtMC41MTYgLTAuMzUsLTAuODVjMCwtMC4zMzMgMC4xMTcsLTAuNjE2IDAuMzUsLTAuODQ5bDEuNjk5LC0xLjY5OWMwLjIzMywtMC4yMzMgMC41MTYsLTAuMzUgMC44NDksLTAuMzVjMC4zMzQsMCAwLjYxNywwLjExNyAwLjg1LDAuMzVsMy42NzMsMy42NzNsMy42NzMsLTMuNjczYzAuMjMzLC0wLjIzMyAwLjUxNiwtMC4zNSAwLjg1LC0wLjM1YzAuMzMzLDAgMC42MTYsMC4xMTcgMC44NDksMC4zNWwxLjY5OSwxLjY5OWMwLjIzMywwLjIzMyAwLjM1LDAuNTE2IDAuMzUsMC44NDljMCwwLjMzNCAtMC4xMTcsMC42MTcgLTAuMzUsMC44NWwtMy42NzMsMy42NzNsMy42NzMsMy42NzNaIiBzdHlsZT0iZmlsbDojZmZmO2ZpbGwtcnVsZTpub256ZXJvOyIvPjwvc3ZnPg==);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    opacity:.7;
    transition:opacity .1s ease-in-out;

    @include medium {
      top:$gutterWidth / 2;
      right:$gutterWidth / 2;
      height:35px;
      width:35px;
    }
  }

  &:hover::before {
    opacity:1;
  }
}