@import './_variables.scss';

// Drop Shadows
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.rotate-45 {
  transform:rotate(45deg);
}

// Border Radius
$directions:top bottom left right;
.corners-3 {
  border-radius:3px;
}
.corners-5 {
  border-radius:5px;
}
@each $direction in $directions {
  .corners-#{$direction}-3 {
    border-radius:5px 5px 0 0;
  }

  .corners-#{$direction}-5 {
    border-radius:5px 5px 0 0;
  }
}

.rounded {
  border-radius:50%;

  &.inset-border {
    border:2px solid #fff;
    background:#fff;
  }
}


// Borders
$borderDirections: (
  ba: ( border ),
  bv: ( border-top, border-bottom ),
  bt: ( border-top ),
  bb: ( border-bottom ),
  bh: ( border-left, border-right ),
  br: ( border-right ),
  bl: ( border-left )
);
// Loop from 1 to 3 for each different border width value
@for $i from 1 through 7 {

  // Loop through the directions and add additional modifiers

  @each $parentKey, $parentValue in $borderDirections {
    .#{$parentKey}-white-#{$i} {
      @each $property in $parentValue {
        #{$property}:#{$i}px solid #fff;
      }
    }

    .#{$parentKey}-black-#{$i} {
      @each $property in $parentValue {
        #{$property}:#{$i}px solid #000;
      }
    }

    // Loop through each brand color and add the color modifier
    @each $key, $value in $brand_colors {
      .#{$parentKey}-#{$key}-#{$i} {
        @each $property in $parentValue {
          #{$property}: #{$i}px solid $value;
        }
      }
    }

    // Loop through each content color and add the color modifier
    @each $key, $value in $content_colors {
      .#{$parentKey}-#{$key}-#{$i} {
        @each $property in $parentValue {
          #{$property}: #{$i}px solid $value;
        }
      }
    }

    // Loop through each grey and add the color modifier
    @each $index, $grey in $greys {
      .#{$parentKey}-grey-#{$index}-#{$i} {
        @each $property in $parentValue {
          #{$property}: #{$i}px solid #{$grey};
        }
      }
    }
  }
}

.dashed {
  border-style:dashed;
}

.pointer {
  cursor:pointer;
}

// No Select
.noselect {
  user-select: none;
}

// Overflow
.overflow {
  overflow:hidden;
}

.overflow-y {
  overflow-y:hidden;
}

.overflow-x {
  overflow-x:hidden;
}

.overflow-auto {
  overflow:auto;
}

.overflow-y-auto {
  overflow-y:auto;
}

.overflow-x-auto {
  overflow-x:auto;
}

.overflow-visible {
  overflow:visible!important;
}

.nowrap {
  white-space:nowrap;
}

.text-truncate {
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.text-truncate-2-lines {
  max-height:3em;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &.font-compressed {
    max-height:2.5em;
  }
}

// Box Ratios
.square {
  position:relative;
  height:0;
  padding-bottom:100%;
}

.widescreen {
  position:relative;
  height:0;
  padding-bottom:56.25%;

  & > iframe {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
  }
}

.box-4-by-3 {
  position:relative;
  height:0!important;
  padding-bottom:75%;
}

.relative {
  position:relative;
}

.absolute-center {
  @include centerBoth();
}

.absolute-fill {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.bg-center {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;

  &.contain {
    background-size:contain;
  }

  &.contain-80 {
    background-size:80%;
  }
}

.desaturate {
  filter:saturate(0);
}

.list-style-none {
  list-style-type:none;
  padding-left:0;
}

.raised-hover {
  transform:scale(1);
  transition:transform .2s ease-in-out, box-shadow .2s ease-in-out;
  box-shadow:0 0 5px rgba(0,0,0,0);

  &:hover {
    transform:scale(1.02);
    box-shadow:0 0 7px rgba(0,0,0,.3);
  }
}

.icon-bg-circle {
  height:35px;
  width:35px;
  min-height:35px;
  min-width:35px;
  @include flexCenter();
}

.skeleton-loader, img[lazy=loading] {
  background-color:nth(nth($greys, 2), 2)!important;
  max-width:100%;
  overflow:hidden;
  position:relative;

  &:after {
    content: '';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    animation: skeleton-loader 1s infinite;
    transform:translateX(-100%);
    background:linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  }
}