@import './_variables.scss';
@import './_animations.scss';

body {
  padding-top:50px;
  padding-bottom:50px;

  @include small {
    padding-bottom:60px;
  }

  @include large {
    padding-top:65px;
  }
}

#nav {
  height:50px;
  z-index:99;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:0;

  @include large {
    height:65px;
  }

  & > .container {
    overflow:hidden;
  }

  .flex-row {
    height:100%;
  }

  .logo {
    position:relative;
    z-index:8;
    flex:0 0 125px;

    @include medium {
      flex:0 0 175px;
    }

    img {
      width:100%;
      height:auto;
      min-height:1px;
    }
  }

  .header-button {
    position:relative;
    z-index:10;
    background:#000;
    flex:0 0 50px;
    max-width:50px;
    max-height:49px;

    @include large {
      flex:0 0 65px;
      max-width:65px;
      max-height:64px;
    }

    &.live-button {
      flex:0 0 auto;
      max-width:none;
      z-index:8;
    }
  }

  .search-column {
    flex:0 1 100%;
    max-width:50px;
    transition:all .1s;
    z-index:9;
    max-height:49px;

    @include large {
      max-width:65px;
      max-height:64px;
    }

    &.active {

      .search-row {
        transform:translateX(calc(-#{100%} + 50px));

        @include small {
          transform:translateX(calc(-#{100%} + 50px));
        }

        @include medium {
          transform:translateX(calc(-#{$medium} + 115px));
        }

        @include large {
          transform:translateX(calc(-#{$large} + 145px));
        }
      }
    }

    .search-row {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      z-index:3;
      background:#000;
      transform:translateX(0);
      transition:transform .2s ease-in-out;
      will-change:transform;
      width:calc(100vw - 100px);

      @include small {
        width:calc(100vw - 50px);
      }

      @include medium {
        width:calc(#{$medium} - 65px);
      }

      @include large {
        width:calc(#{$large} - 85px);
      }
    }

    .search-button {
      flex:0 0 35px;
      max-width:35px;
    }
  }

  .nav-page-links {
    transition:all .1s;
    max-width:100%;

    &.inactive {
      //flex:0 0 0;
      max-width:0;
      overflow:hidden;
    }
  }

  #notificationButton {

    .wrap {
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;

      .new {
        width:100%;
        height:100%;
        font-size: 12px;
        //position: absolute;
        //padding: 3px;
        @include flexCenter();

        @include medium {
          right:0;
          height:20px;
          width:20px;
          position: absolute;
        }
      }
    }

    i {
      top:0;
      left:0;
      height:100%;
      width:100%;
      font-size:16px;

      @include medium {
        font-size:22px;
      }
    }
  }

  .menu {
    flex: 0 0 50px;
    cursor:pointer;
    will-change:background-color;
    transition:background-color .2s ease-in-out;
    outline:none;
    position:relative;
    z-index:10;
    background-color:#000;

    @include medium {
      flex:0 0 50px;
    }

    @include large {
      flex:0 0 65px;
    }

    &:focus {
      outline:0;
    }

    & > * {
      pointer-events:none;
    }

    @include rippleDirective();

    &.active {
      background-color:nth(nth($greys, 5), 2);

      i {
        background-color:transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }

    i {
      vertical-align:middle;
      display: inline-block;
      background-color: #fff;
      position: relative;
      width: 15px;
      height: 2px;
      top: -1px;
      transition: background .2s ease-in-out;

      &:before, &:after {
        background-color: #fff;
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .2s ease-in-out;
      }

      &:before {
        top:-5px;
      }

      &:after {
        bottom:-5px;
      }
    }
  }

  #liveIndicator {
    position:relative;
    z-index:2;
    padding:0 3px;

    &:before {
      content:'';
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform-origin:50% 50%;
      transform:scale(1.25);
      background:$errorRed;
      filter:blur(8px);
      z-index:-1;
      animation-name: growShrink;
      animation-duration: 1.5s;
      animation-iteration-count: infinite
    }
  }
}

.notification-badge {
  position:absolute;
  top:8px;
  right:8px;
  height:16px;
  width:16px;
  background:$errorRed;

  &.smaller {
    top:-4px;
    right:-4px;
    height:8px;
    width:8px;
  }
}

#navSideBar {
  position:fixed;
  top:50px;
  height:calc(100% - 50px);
  right:0;
  width:320px;
  z-index:99;
  transform:translateX(100%);
  will-change:transform;
  transition:transform .3s ease-in-out;
  overflow-y:auto;

  &.active {
    transform:translateX(0);
  }

  @include large {
    top:65px;
    height:calc(100% - 65px);
  }

  #userInfo {
    //flex:0 0 300px;

    .avatar-wrap {
      width:125px;
      max-width:125px;
      height:125px;
    }
  }

  #pageLinks {

    .page-link {
      //border-bottom:1px solid $lightGray;
      text-decoration:none;
      will-change: color, background-color;
      transition:color .1s ease-in-out, background-color .1s ease-in-out;
      flex:0 0 auto;

      .parent-button {
        width:100%;
        position:relative;

        &.active {
          background-color:#f2f2f2;

          .arrow {
            transform:rotate(180deg);
          }
        }

        .arrow {
          position:absolute;
          top:0;
          right:$gutterWidth / 3;
          bottom:0;
          will-change: transform;
          transition:transform .1s ease-in-out;
          pointer-events:none;
          @include flexCenter();
        }
      }

      .child-links {
        max-height:0;
        overflow:hidden;
        transition:max-height .2s ease-in-out;
        will-change:max-height;

        .page-link {
          padding-left:$gutterWidth;
        }
      }

      &:not(.parent):hover {
        color:#000;
        background-color:#f2f2f2;
      }

      i {
        width:25px;
        text-align:center;
      }
    }

    .sub-links {
      flex:0 0 auto;

      a {
        font-size:14px;
        text-decoration:none;
      }
    }
  }
}

#subNav {
  z-index:99;

  .subnav-link {
    transition:color .1s ease-in-out, background-color .1s ease-in-out;
    will-change:color, background-color;
    flex:0 0 120px;
    box-sizing:border-box;
    border-bottom:2px solid transparent;
    white-space:nowrap;

    @include rippleDirective();

    i {
      will-change:color;
      transition:color .1s ease-in-out;
    }

    &:last-of-type {
      border-right:none;
    }

    &:hover {
      background-color:nth(nth($greys, 5), 2)
    }

    &.my-lists {
      @include xSmallOnly {
        display:none;
      }
    }

    @each $key, $value in $content_colors {
      &.#{$key}:hover,
      &.#{$key}s:hover,
      &.#{$key}.active,
      &.#{$key}s.active {
        color:#fff;
        border-bottom-color:$value;

        i {
          color: $value;
        }
      }
    }
  }

  .pad-sides {
    padding:0 35px;
  }
}

#subNavWrap {
  z-index:10;
  overflow-x:auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#publicFooter {

  .dark-logo {
    max-width:150px;
  }

  a:hover:not(.social-media-link) {
    text-decoration:underline;
  }
  a:hover {
    color:#fff;
  }
}
body.has-public-footer {
  padding-bottom:650px;

  @include small {
    padding-bottom:270px;
  }
}

footer {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  z-index:96;

  .footer-col {
    height:25px;
    font-size:13px;
    flex:1 1 100%;

    @include small {
      height:60px;
      flex:0 0 auto;
    }

    a {
      margin:0 3px;

      &.social-media-link {

        i {
          font-size:20px;
          width:35px;
          height:35px;
          @include flexCenter();
        }
      }
    }
  }
}

.main-section-link {
  transition: font-weight .2s ease-in-out, color .2s ease-in-out;
  will-change: font-weight, color;
  @include rippleDirective();

  &:hover, &.active {
    font-weight:700;
    color:#fff;
  }
}

.scroll-sub-nav {
  position:absolute;
  top:0;
  bottom:0;
  width:35px;
  cursor:pointer;
  z-index:11;
  @include flexCenter();

  * {
    pointer-events:none;
  }
}

#scrollSubNavLeft {
  left:0;
}
#scrollSubNavRight {
  right:0;
}

#backgroundOverlay {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,.6);
  z-index:98;
  opacity:0;
  visibility:hidden;
  will-change:opacity, visibility;
  transition:opacity .2s ease-in-out, visibility .2s ease-in-out;
  cursor:pointer;

  &.active {
    opacity:1;
    visibility:visible;
  }
}