@import './_variables.scss';
@import './_animations.scss';

body {
  padding-top:50px;
  padding-bottom:120px;

  @include medium {
    padding-top:56px;
    padding-bottom:70px;
  }

  &.has-public-footer {
    padding-bottom:630px;

    @include small {
      padding-bottom:270px;
    }
  }
  &.has-public-footer-minimal {
    padding-bottom:82px;

    @include small {
      padding-bottom:59px;
    }
  }
  &.live #nav .header-button.live-button {
    display: flex;
  }
}

#nav {
  height:50px;
  z-index:99;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:0;
  background-color: #00101D;

  @include medium {
    height:56px;
  }

  & > .container {
    // overflow:hidden;
  }

  .flex-row:not(.search-input-container) {
    height:100%;
  }

  .logo {
    position:relative;
    z-index:8;
    flex:0 0 127px;
    @include large {
      flex:0 0 152px;
    }

    img {
      width:auto;
      min-height:1px;
      height:40px;
      @include large {
        height:46px;
      }
    }
  }

  .header-button {
    position:relative;
    z-index:10;
    background-color: #00101D;
    flex:0 0 50px;
    max-width:50px;
    max-height:49px;

    @include medium {
      flex:0 0 55px;
      max-width:55px;
      max-height:55px;
    }

    &.live-button {
      display: none;
      flex:0 0 auto;
      max-width:none;
      z-index:8;
      background: none;
    }
  }

  .search-column {
    flex:0 1 100%;
    max-width:35px;
    transition:all .1s;
    z-index:9;
    max-height:49px;

    @include medium {
      max-width:55px;
      max-height:55px;
    }

    &.active {

      .search-row {
        transform:translateX(calc(-#{100%} + 45px));

        @include small {
          transform:translateX(calc(-#{100%} - 5px));
        }

        @include medium {
          transform:translateX(calc(-#{$medium} + 127px));
        }

        @include large {
          transform:translateX(calc(-#{$large} + 127px));
        }

        @include xLarge {
          transform:translateX(calc(-#{$xLarge} + 127px));
        }
      }
    }

    .search-row {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      z-index:3;
      transform:translateX(0);
      //transition:transform .2s ease-in-out;
      will-change:transform;
      width:calc(100vw - 100px);
      background-color: #00101D;

      input {
        color: #93979C;
      }
    }

    .search-button {
      flex:0 0 35px;
      max-width:35px;
    }
  }

  .search-input-container {
    flex-grow: 0;
    width: 625px;
    height: 35px;
    overflow: hidden;
    border: 1px solid #7E9AB1;
    border-radius: 10px;
    background-color: #000;
  }

  .search-input-icon {
    padding-left: 10px;
    font-size: 17px;
    i {
      font-weight: 400;
    }
  }

  #search-input-clear {
    padding: 3px 10px;
    cursor: pointer;
    font-size: 17px;
    color: #7E9AB1;
  }

  #search-input {
    font-size: 16px;
    color: #7E9AB1;
    width: 565px;
    height: 35px;
    text-align: left;
    padding-left: 13px;
    padding-right: 0;
    border-radius: 10px;
    font-family: 'FontAwesome', $defaultSansSerif;
    background-color: #000;
  }
  #search-input::placeholder {
    color: #7E9AB1;
  }

  #nav .fa-search {
    color: #7E9AB1;
  }

  .nav-page-links {
    transition:all .1s;
    max-width:100%;

    &.inactive {
      //flex:0 0 0;
      max-width:0;
      overflow:hidden;
    }
  }

  #notificationButton {

    .wrap {
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;

      .new {
        width:100%;
        height:100%;
        font-size: 12px;
        //position: absolute;
        //padding: 3px;
        @include flexCenter();

        @include medium {
          right:0;
          height:20px;
          width:20px;
          position: absolute;
        }
      }
    }

    i {
      top:0;
      left:0;
      height:100%;
      width:100%;
      font-size:16px;

      @include medium {
        font-size:22px;
      }
    }
  }

  .menu {
    flex: 0 0 50px;
    cursor:pointer;
    will-change:background-color;
    transition:background-color .2s ease-in-out;
    outline:none;
    position:relative;
    z-index:10;

    @include medium {
      flex:0 0 56px;
    }

    &:focus {
      outline:0;
    }

    & > * {
      pointer-events:none;
    }

    @include rippleDirective();

    &.active {
      background-color:nth(nth($greys, 5), 2);

      i {
        background-color:transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }

    i {
      vertical-align:middle;
      display: inline-block;
      background-color: #fff;
      position: relative;
      width: 15px;
      height: 2px;
      top: -1px;
      transition: background .2s ease-in-out;

      &:before, &:after {
        background-color: #fff;
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .2s ease-in-out;
      }

      &:before {
        top:-5px;
      }

      &:after {
        bottom:-5px;
      }
    }
  }

  .profile-nav-info {
    display: none;
    position: absolute;
    bottom: -94px;
    right: 10px;
    background-color: #FFF;
    padding: 15px 25px;

    h3 {
      white-space: nowrap;
      margin-bottom: 3px;
    }

    p {
      font-size: 14px;
    }

    h3 + p {
      margin-bottom: 5px;
    }

    .profile-nav-tip {
      position: absolute;
      top: -19px;
      right: -5px;
      width: 7px;
      height: 7px;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #FFF;
    }
  }

  .profile-nav-link {
    img {
      border: 2px solid #00101D;
    }

    &:hover {
      img {
        border: 2px solid #fff;
      }

      + .profile-nav-info {
        display: block;
      }
    }
  }
}

#liveIndicator {
  position:relative;
  z-index:2;
  padding:0 3px;

  &:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform-origin:50% 50%;
    transform:scale(1.25);
    background:$errorRed;
    filter:blur(4px);
    z-index:-1;
    animation-name: growShrink;
    animation-duration: 1.25s;
    animation-iteration-count: infinite
  }
}

.notification-badge {
  position:absolute;
  top:8px;
  right:8px;
  height:13px;
  width:13px;
  background:$errorRed;

  &.smaller {
    top:-4px;
    right:-4px;
    height:8px;
    width:8px;
  }
}

#navSideBar {
  position:fixed;
  height:100%;
  left:0;
  top: 0;
  width:320px;
  max-width: 90%;
  z-index:99;
  transform:translateX(-100%);
  will-change:transform;
  transition:transform .3s ease-in-out;
  overflow-y:auto;

  .sidebar-member-section {
    padding-left: 20px;

    padding-top: 35px;
    padding-bottom: 35px;

    .member-avatar {
      max-width: 60px;
      min-width: 60px;
      position: relative;

      img {
        &.drumeo {
          border: 2px solid $drumeoBlue;

          &:hover {
            border: 3px solid $drumeoBlue;
          }
        }
        &.pianote {
          border: 2px solid $pianoteRed;

          &:hover {
            border: 3px solid $pianoteRed;
          }
        }
        &.guitareo {
          border: 2px solid $guitareoGreen;

          &:hover {
            border: 3px solid $guitareoGreen;
          }
        }
        &.singeo {
          border: 2px solid $singeoPurple;

          &:hover {
            border: 3px solid $singeoPurple;
          }
        }
      }
    }

    .member-details {
      padding-left: 20px;

      h5 {
        font-size: 18px;
      }

      .member-stats {
        font-size: 14px;

        .member-stats-xp {
          margin-left: 10px;
        }
      }
    }
  }

  #nav-sidebar-close {
    position: absolute;
    top: 6px;
    right: 10px;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
  }

  &.active {
    transform:translateX(0);
  }

  @include large {
    height:100%;
  }

  #userInfo {
    //flex:0 0 300px;

    .avatar-wrap {
      width:125px;
      max-width:125px;
      height:125px;
    }
  }

  #pageLinks {

    .page-link {
      //border-bottom:1px solid $lightGray;
      text-decoration:none;
      will-change: color, background-color;
      transition:color .1s ease-in-out, background-color .1s ease-in-out;
      flex:0 0 auto;

      &:not(.parent) {
        padding: 20px;
      }

      .parent-button {
        width:100%;
        position:relative;

        &.active {
          // background-color:#f2f2f2;

          .arrow {
            transform:rotate(180deg);
          }
        }

        .arrow {
          position:absolute;
          top:0;
          right:$gutterWidth / 3;
          bottom:0;
          will-change: transform;
          transition:transform .1s ease-in-out;
          pointer-events:none;
          @include flexCenter();
        }
      }

      .child-links {
        max-height:0;
        overflow:hidden;
        transition:max-height .2s ease-in-out;
        will-change:max-height;

        .page-link {
          padding-left: 35px;
        }
      }

      &:not(.parent):hover {
        color:#000;
        background-color:#f2f2f2;
      }

      i {
        width:25px;
        text-align:center;
        font-size: 20px;
      }

      .page-link-icon {
        display: inline-block;
        width: 40px;
        line-height: 0.8;
      }
    }

    .sub-links {
      flex:0 0 auto;

      a {
        font-size:14px;
        text-decoration:none;
      }
    }
  }
}

#subNav {
  z-index:99;

  .subnav-link {
    transition:color .1s ease-in-out, background-color .1s ease-in-out;
    will-change:color, background-color;
    flex:0 0 120px;
    box-sizing:border-box;
    border-bottom:2px solid transparent;
    white-space:nowrap;

    @include rippleDirective();

    i {
      will-change:color;
      transition:color .1s ease-in-out;
    }

    &:last-of-type {
      border-right:none;
    }

    &:hover {
      background-color:nth(nth($greys, 5), 2)
    }

    &.my-lists {
      @include xSmallOnly {
        display:none;
      }
    }

    @each $key, $value in $content_colors {
      &.#{$key}:hover,
      &.#{$key}s:hover,
      &.#{$key}.active,
      &.#{$key}s.active {
        color:#fff;
        border-bottom-color:$value;

        i {
          color: $value;
        }
      }
    }
  }

  .pad-sides {
    padding:0 35px;
  }
}

#subNavWrap {
  z-index:10;
  overflow-x:auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#publicFooter {

  .dark-logo {
    max-width:150px;
  }

  a:hover:not(.social-media-link) {
    text-decoration:underline;
  }
  a:hover {
    color:#fff;
  }
}

footer {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  z-index:95;

  section {
    align-items:center;

    &:first-child {
      @include medium {
        align-items:flex-start;
      }
    }

    &:last-child {
      @include medium {
        align-items:flex-end;
      }
    }
  }

  .footer-col {
    font-size:13px;
    flex:1 1 100%;
    padding:2px 0;

    @include small {
      flex:0 0 auto;
      padding:12px 0;
      padding:3px 0;
    }

    a {
      margin:0 3px;

      &.social-media-link {

        i {
          font-size:20px;
          width:35px;
          height:35px;
          @include flexCenter();
        }
      }
    }
  }
}

.main-section-link {
  transition: font-weight .2s ease-in-out, color .2s ease-in-out;
  will-change: font-weight, color;
  @include rippleDirective();

  &:hover, &.active {
    font-weight:700;
    color:#fff;
  }
}

.scroll-sub-nav {
  position:absolute;
  top:0;
  bottom:0;
  width:35px;
  cursor:pointer;
  z-index:11;
  @include flexCenter();

  * {
    pointer-events:none;
  }
}

#scrollSubNavLeft {
  left:0;
}
#scrollSubNavRight {
  right:0;
}

#backgroundOverlay {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,.6);
  z-index:98;
  opacity:0;
  visibility:hidden;
  will-change:opacity, visibility;
  transition:opacity .2s ease-in-out, visibility .2s ease-in-out;
  cursor:pointer;

  &.active {
    opacity:1;
    visibility:visible;
  }
}