body.sidebar {
  @include medium {
    margin-left: 240px;
  }

  @include xLarge {
    .container:not(.fluid) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

#nav {
  .nav-inner {
    max-width: 100%;

    > .flex-row {
      @include medium {
        padding-left: 10px;
        padding-right: 15px;
      }
    }

    .nav-page-links {
      @include large {
        padding: 0 100px;
      }
    }
  }
}

#sidebar {
  display: none;
  position: fixed;
  top: 65px;
  height: calc(100% - 65px);
  left: 0;
  width: 240px;
  z-index: 99;
  background: #FCFCFC;
  box-shadow: 0 0 10px rgba(0,0,0,0.13), 0 0 15px rgba(0,0,0,0.11), 0 0 20px rgba(0,0,0,0.10);
  clip-path: inset(0px -20px 0px 0px);
  overflow-y: auto;

  @include medium {
    display: block;
  }

  .sidebar-section {
    padding-left: 25px;
  }

  .member-section {
    padding-top: 35px;
    padding-bottom: 35px;

    .member-avatar {
      max-width: 60px;
      min-width: 60px;
      position: relative;

      img {
        &.drumeo {
          border: 2px solid $drumeoBlue;

          &:hover {
            border: 3px solid $drumeoBlue;
          }
        }
        &.pianote {
          border: 2px solid $pianoteRed;

          &:hover {
            border: 3px solid $pianoteRed;
          }
        }
      }
    }

    .member-details {
      padding-left: 20px;

      h5 {
        font-size: 18px;
      }

      .member-stats {
        font-size: 14px;

        .member-stats-xp {
          margin-left: 10px;
        }
      }
    }
  }

  .user-links-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sidebar-link {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #181B1B;

    .sidebar-link-icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 22px;
      line-height: 1em;
      width: 40px;
    }

    .sidebar-link-title {
      vertical-align: middle;
      font-size: 14px;
      line-height: 1em;
    }

    &:hover,
    &.active {
      &.drumeo {
        color: $drumeoBlue;
      }
      &.drumeo svg {
        fill: $drumeoBlue;
      }
      &.pianote {
        color: $pianoteRed;
      }
      &.pianote svg {
        fill: $pianoteRed;
      }

      .sidebar-link-title {
        font-weight: 550;
      }
    }
  }

  .membership-links-section {
    padding-top: 10px;

    h5 {
      margin-top: 20px;
      padding-bottom: 10px;

      a {
        font-size: 18px;
        text-decoration: none;
        color: #000;
      }
    }
  }
}
