@import './_variables.scss';

#noty_layout__topLeft {
  top:100px;
  left:0;
  width:auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  max-width:none;

  @include small {
    width:auto;
  }
}

#noty_layout__center {
  width:auto;
  max-width:90%;
}

.noty_theme__musoraNoty {
  border-radius:0 3px 3px 0;
  background:#fff;
  @include flexCenter();
  margin-bottom:$gutterWidth / 2;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);

  &.dialog {
    border-radius:3px;

    .noty_body {
      padding:$gutterWidth;
      flex-direction:column;
      width:480px;

      & > * {
        max-width:100%;
      }
    }

    .noty_buttons {
      padding:0 $gutterWidth $gutterWidth;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:center;
      width:100%;

      @include xSmallOnly {
        flex-wrap:wrap;

        button:first-child  {
          margin-bottom:$gutterWidth / 3;
        }
      }


      button {
        @include xSmallOnly {
          width:100%;
          margin-right:0;
        }
      }
    }
  }

  .noty_body {
    padding:$gutterWidth / 3;
    box-sizing:border-box;
    max-width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:320px;
  }

  .vs-flex-row {
    flex:0 1 100%;
    max-width:100%;
    width:100%;
  }

  .vs-icon-column {
    flex:0 0 50px;
    color:nth(nth($greys, 2), 2);
    transition:color .1s ease-in-out;
    will-change:color;
  }

  &:hover {
    .vs-icon-column {
      color:#000;
    }
  }
}