@import './_variables.scss';

[data-tooltip]{
  position:relative;

  @include large {
    display:flex;

    &:hover {
      &:before {
        transform:translateY(calc(-100% - 15px));
        opacity:1;
      }
    }
  }

  &:before {
    position:fixed;
    pointer-events:none;
    transform:translateY(-50%);
    content: attr(data-tooltip);
    background:rgba(0,0,0,.5);
    color:#fff;
    font:400 12px/1em $secondarySansSerif;
    white-space:nowrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    z-index:90;
    padding:#{$gutterWidth / 4} #{$gutterWidth / 3};
    text-transform:uppercase;
    border-radius:3px;
    opacity:0;
    will-change:opacity, transform;
    transition:opacity .1s ease-in-out, transform .1s ease-in-out;
  }
}