@import './_variables.scss';

.vs-uppercase {
  text-transform:uppercase;
}

.vs-capitalize {
  text-transform:capitalize;
}

// this may create conflicts
h1, h2, h3, h4, h5, h6, p {
  margin:0;
}

.vs-text-left {
  text-align:left;
}

.vs-text-right {
  text-align:right;
}

.vs-text-center {
  text-align:center;
}

.vs-large-display {
  font: 700 36px/1.25em $defaultSansSerif;

  @include medium {
    font-size:48px;
  }

  @include large {
    font-size:54px;
  }
}

.vs-display {
  font: 700 32px/1.25em $defaultSansSerif;

  @include medium {
    font-size:36px;
  }

  @include large {
    font-size:40px;
  }
}

.vs-heading {
  font: 700 24px/1.25em $defaultSansSerif;

  @include medium {
    font-size:28px;
  }

  @include large {
    font-size:32px;
  }
}

.vs-subheading {
  font: 600 20px/1.25em $defaultSansSerif;

  @include medium {
    font-size:22px;
  }

  @include large {
    font-size:24px;
  }
}

.vs-title {
  font: 600 18px/1.5em $defaultSansSerif;

  @include medium {
    font-size:18px;
  }

  @include large {
    font-size:20px;
  }
}

.vs-subtitle {
  font: 400 16px/1.5em $defaultSansSerif;

  @include medium {
    font-size:16px;
  }

  @include large {
    font-size:18px;
  }
}

.vs-color-green {
  color: #4bb543;
}

.vs-color-red {
  color: #F61A30;
}

.vs-body {
  font:400 16px/1.5em $defaultSansSerif;
}

.vs-tiny {
  font:400 13px/1.5em $defaultSansSerif;
}

.vs-x-tiny {
  font:400 10px/1.5em $defaultSansSerif;
}

.vs-font-compressed {
  line-height:1.25em;
}

.vs-font-light {
  font-weight:300;
}

.vs-font-regular {
  font-weight:400;
}

.vs-font-underline {
  text-decoration:underline;
}

.vs-font-strike {
  text-decoration:line-through;
}

.vs-font-bold {
  font-weight:700;
}

.vs-font-italic {
  font-style:italic;
}

.vs-dense {
  font-family:$secondarySansSerif;
}

.vs-break-words {
  word-break: break-word;
  word-wrap: break-word;
}