@import './_variables.scss';

h1, h2, h3, h4, h5, h6, p {
  margin:0;
}

.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

.heading {
  font: 700 24px/1.25em $defaultSansSerif;

  @include medium {
    font-size:28px;
  }

  @include large {
    font-size:32px;
  }
}

.subheading {
  font: 600 20px/1.25em $defaultSansSerif;

  @include medium {
    font-size:24px;
  }

  @include large {
    font-size:28px;
  }
}

.title {
  font: 600 18px/1.5em #defaultSansSerif;

  @include medium {
    font-size:20px;
  }

  @include large {
    font-size:22px;
  }
}

.body {
  font:400 12px/1.5em $defaultSansSerif;

  @include medium {
    font-size:14px;
  }

  @include large {
    font-size:16px;
  }
}

.font-light {
  font-weight:300;
}

.font-bold {
  font-weight:700;
}