@import './_variables.scss';

.uppercase {
  text-transform:uppercase;
}

.capitalize {
  text-transform:capitalize;
}

h1, h2, h3, h4, h5, h6, p {
  margin:0;
}

.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

.display {
  font: 700 32px/1.25em $defaultSansSerif;

  @include medium {
    font-size:36px;
  }

  @include large {
    font-size:40px;
  }
}

.heading {
  font: 700 24px/1.25em $defaultSansSerif;

  @include medium {
    font-size:28px;
  }

  @include large {
    font-size:32px;
  }
}

.subheading {
  font: 600 20px/1.25em $defaultSansSerif;

  @include medium {
    font-size:22px;
  }

  @include large {
    font-size:24px;
  }
}

.title {
  font: 600 18px/1.5em $defaultSansSerif;

  @include medium {
    font-size:18px;
  }

  @include large {
    font-size:20px;
  }
}

.subtitle {
  font: 400 16px/1.5em $defaultSansSerif;

  @include medium {
    font-size:16px;
  }

  @include large {
    font-size:18px;
  }
}

.body {
  font:400 16px/1.5em $defaultSansSerif;
}

.tiny {
  font:400 13px/1.5em $defaultSansSerif;
}

.x-tiny {
  font:400 10px/1.5em $defaultSansSerif;
}

.font-compressed {
  line-height:1.25em;
}

.font-light {
  font-weight:300;
}

.font-regular {
  font-weight:400;
}

.font-underline {
  text-decoration:underline;
}

.font-strike {
  text-decoration:line-through;
}

.font-bold {
  font-weight:700;
}

.font-italic {
  font-style:italic;
}

.dense {
  font-family:$secondarySansSerif;
}

.break-words {
  word-break: break-word;
  word-wrap: break-word;
}