///////////////////////////////////////
///
/// TABLE OF CONTENTS
///
/// 1. GRID
/// 2. FONTS
/// 3. COLORS
/// 4. POSITIONING
///
///////////////////////////////////////

///////////////////////////////////////
/// 1. GRID
///////////////////////////////////////

// Fixed Container
$fixedRowWidth: 62.5rem;  // 1000px

// Gutters
$gutterWidth: 1.875rem;   // 30px - usually divided by 2 or 3

// Breakpoints
$small: 40rem;             // 640px
$medium: 64rem;            // 1024px
$large: 72.5rem;           // 1240px
$xLarge: 97.5rem;           // 1560px

// Breakpoint Mixins
// Breakpoints start mobile first. xSmall is technically the default breakpoint, so it doesn't need to be defined

@mixin small {
  @media screen and (min-width: #{$small}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$large}) {
    @content;
  }
}

@mixin xLarge {
  @media screen and (min-width: #{$xLarge}) {
    @content;
  }
}

@mixin highDpi {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 13/10),
  only screen and (min-resolution: 120dpi) {
    @content;
  }
}

@mixin xSmallOnly {
  @media screen and (max-width: #{$small - .0625rem}) {
    @content;
  }
}

@mixin smallOnly {
  @media screen and (min-width: #{$small}) and (max-width: #{$medium - .0625rem}) {
    @content;
  }
}

@mixin mediumOnly {
  @media screen and (min-width: #{$medium}) and (max-width: #{$large - .0625rem}) {
    @content;
  }
}

@mixin largeOnly {
  @media screen and (min-width: #{$large}) and (max-width: #{$xLarge - .0625rem}) {
    @content;
  }
}


///////////////////////////////////////
/// 2. FONTS
///////////////////////////////////////

$defaultSansSerif: 'Open Sans', sans-serif;
$secondarySansSerif: 'Roboto Condensed', sans-serif;

$defaultSerif: 'Bree Serif', serif;
$secondarySerif: 'Times New Roman', serif;

$defaultMonospace: 'Courier New', monospace;

///////////////////////////////////////
/// 3. COLORS
///////////////////////////////////////

$backgroundGray: #fff;
$darkGray:#a8a8a8;
$lightGray:#d1d1d1;
$greys: (
  1: #e5e8e8,
  2: #ccd3d3,
  3: #8c9698,
  4: #565d5f,
  5: #191b1c,
  6: #1a222b,
  7: #f3f9ff
);

// Vuesora Colors
$primary:#362063;
$secondary:#42b983;

// Brand Colors
$drumeoBlue:#0B76DB;
$guitareoGreen:#00C9AC;
$guitareoGuitarQuestYellow:#FFB500;
$guitareoGuitarQuestGray:#313131;
$pianoteRed:#F61A30;
$pianoteGreen:#232e31;
$recordeoYellow:#FFAE00;
$singeoPurple: #8300E9;

$brand_colors: (
  drumeo: $drumeoBlue,
  guitareo: $guitareoGreen,
  guitareoGuitarQuest: $guitareoGuitarQuestYellow,
  pianote: $pianoteRed,
  recordeo: $recordeoYellow,
  singeo: $singeoPurple
);

// General Colors
$successGreen:#4bb543;
$warningYellow:#FFCC00;
$errorRed:#F71B26;
$liveRed:#F71B26;

// Content Colors
$content_colors: (
  course: #07A0FF,
  pack: #07A0FF,
  song: #F8004F,
  play-along: #FFB500,
  student-focus: #A82FFF,
  rudiment: #d06835,
  dft: #0DD3BF,
  learning-path: #0B76DB,
  my-list: $drumeoBlue,
  show: #00C278,
  semester-pack: #00BC75,
);

$sidebarLink:#4D5356;

$coachYellow:#FAA300;
$lifetimeBlue:#07B3FF;

/**
* Make a horizontal gradient with 2 colors
*
* @param $primaryColor - the first color at the start of the gradient
* @param $secondaryColor - the second color at the end of the gradient
*/
@mixin leftToRightGradient($primaryColor, $secondaryColor){
  background: -moz-linear-gradient(left, $primaryColor 0%, $secondaryColor 100%);
  background: -webkit-linear-gradient(left, $primaryColor 0%,$secondaryColor 100%);
  background: linear-gradient(to right, $primaryColor 0%,$secondaryColor 100%);
}

/**
* Make a vertical gradient with 2 colors
*
* @param $primaryColor - the first color at the start of the gradient
* @param $secondaryColor - the second color at the end of the gradient
*/
@mixin topToBottomGradient($primaryColor, $secondaryColor){
  background: -moz-linear-gradient(top, $primaryColor 0%, $secondaryColor 100%);
  background: -webkit-linear-gradient(top, $primaryColor 0%,$secondaryColor 100%);
  background: linear-gradient(to bottom, $primaryColor 0%,$secondaryColor 100%);
}

///////////////////////////////////////
/// 4. POSITIONING
///////////////////////////////////////

@mixin flexCenter {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

@mixin centerVertical {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
}

@mixin centerHorizontal {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
}

@mixin centerBoth {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
}