@import './_variables.scss';
@import './_animations.scss';

.widescreen, .box-4-by-3 {

  video {
    max-width:100%;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
  }
}

.vjs_video_3-dimensions {
  height:auto;
  width:auto;
  outline:none;
  //overflow:hidden;
}

@mixin playerActive(){
  .controls {
    transform:translateY(0);
  }

  video::-webkit-media-text-track-container {
    transform:translateY(-60px);
  }
}

@mixin playerInactive(){
  .controls {
    transform:translateY(100%);
  }

  video::-webkit-media-text-track-container {
    transform:translateY(0);
  }
}

[data-vjs-player] {
  //overflow:hidden;

  &.vjs-user-active {
    @include playerActive();
  }

  video {
    &::cue {
      font: 400 20px/1em $defaultSansSerif;
      background:none;
      text-shadow: 1px 1px 2px #000;
      color:#fff;

      @include medium {
        font-size:24px;
      }
    }

    &::-webkit-media-text-track-container {
      transition: transform .2s ease-in-out;
    }
  }

  &.vjs-user-inactive {
    @include playerInactive();

    &.vjs-has-started {
      @include playerActive();

      &.vjs-playing {
        @include playerInactive();
      }
    }
  }
}

.controls-wrap {
  position:absolute;
  overflow:hidden;
  bottom:0;
  left:0;
  right:0;
  z-index:15;
  height:100%;
}

.controls {
  transition: transform .1s ease-in-out;
  background: linear-gradient(transparent,rgba(0,0,0,.8));
  position:absolute;
  width:100%;
  bottom:0;

  button {
    span {
      background:none!important;
      transition:color .1s ease-in-out;
    }
  }
}

.player-progress {
  padding:7px;
  width:100%;
  cursor:pointer;
  position:relative;

  &:hover {
    .progress-rail {
      height:6px;
    }

    .progress-tooltip {
      opacity:1;
      visibility:visible;
    }
  }
}

.progress-tooltip {
  position:absolute;
  bottom:20px;
  left:0;
  background:#000;
  padding:3px 0;
  width:50px;
  margin-left:-25px;
  text-align:center;
  transform-origin:50% 50%;
  opacity:0;
  visibility:hidden;
  pointer-events:none;
  //transition:transform .1s ease-in-out;
}

.progress-rail,
.volume-rail {
  width:100%;
  height:3px;
  background:#e4e4e4;
  transition:height .1s ease-in-out;
  border-radius:3px;
  position:relative;
  overflow:hidden;
}

.progress-fill,
.volume-fill {
  width:100%;
  height:105%;
  position:relative;
  z-index:2;
}

.buffer-fill {
  position:absolute;
  top:0;
  left:0;
  opacity:.6;
  height: 105%;
  z-index:1;
}

.progress-fill {
  transition:transform .1s ease-in-out;
}

.volume-rail {
  height:6px;
}

.volume {
  height:100%;
  flex:0 0 125px;

  &:hover {
    .volume-rail-wrap {
      transform:scaleX(1);
    }
  }
}

.volume-rail-wrap {
  flex:0 0 75px;
  transform:scaleX(0);
  transition:transform .1s ease-in-out;
  transform-origin:100% 100%;
}

.volume-rail  {
  width:75px;
  z-index:2;
  overflow:hidden;
  position:relative;
  cursor:pointer;
}

.player-button {
  flex:0 0 50px;
}

.speed-indicator {
  position:absolute;
  top:0;
  right:0;
  z-index:20;
  opacity: .2;
  pointer-events:none;
}

.volume-range {
  width:100%;
  height:200%;
  margin-top:-2px;
  z-index:3;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  cursor:pointer;
}

.settings-drawer {
  width:100%;
  z-index:102;
  position:fixed;
  bottom:0;
  right:0;
  border-radius:0;

  @include medium {
    width:240px;
    bottom:70px;
    right:50px;
    position:absolute;
    border-radius:3px;

    &.captions {
      max-width:175px;
    }
  }

  .selected-setting {
    flex:0 0 60px;
  }
}

.selected-caption:before {
  content: '\f111';
  font-family: "Font Awesome 5 Pro";
  font-size:10px;
  position:absolute;
  left:$gutterWidth / 2;
  top:50%;
  transform:translateY(-50%);
  @include flexCenter();
}

.settings-mobile-overlay {
  z-index:19;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.4);
}

.cast-dialog {
  position:absolute;
  background-color:#000;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:10;
}

.player-overlay {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:25;
  @include flexCenter();

  svg {
    width:85px;
    height:85px;

    @include medium {
      width:100px;
      height:100px;
    }
  }

  .overlay-play {
    width:85px;
    height:85px;
    background:rgba(0,0,0,.3);

    @include medium {
      width:100px;
      height:100px;
    }

    i {
      margin-left:2px;
      font-size:36px;
      color:#fff;

      @include medium {
        font-size:40px;
      }
    }
  }
}

.context-menu {
  width:200px;
  z-index:100;
}

.keyboard-shortcuts {
  z-index:26;
  position:absolute;
  top:$gutterWidth / 2;
  left:$gutterWidth / 2;
  width:400px;
  max-height:calc(100% - #{$gutterWidth});
  max-width:calc(100% - #{$gutterWidth});
  overflow-y:auto;

  td {
    padding:5px;
  }

  .close-shortcuts {
    position:absolute;
    top:0;
    right:0;
    height:35px;
    width:35px;
    @include flexCenter();
  }
}
