@import '~normalize.css/normalize.css';
@import "~noty/src/noty.scss";
@import "~flatpickr/dist/themes/airbnb.css";
//@import './partials/_tooltip.scss';
@import './partials/_flags.scss';
@import './partials/_grid.scss';
@import './partials/_typography.scss';
@import './partials/_colors.scss';
@import './partials/_modifiers.scss';
@import './partials/_forms.scss';
@import './partials/_button.scss';
@import './partials/_nav.scss';
@import './partials/_content.scss';
@import './partials/_content-table.scss';
@import './partials/_add-event.scss';
@import './partials/_editor.scss';
@import './partials/_forum.scss';
@import './partials/_account.scss';
@import './partials/_modal.scss';
@import './partials/_faces.scss';
@import './partials/_toasts.scss';
@import './partials/_accordion.scss';
@import './partials/_play-alongs.scss';
@import './partials/_avatars.scss';
@import './partials/_video-player.scss';
@import './partials/_cropper.scss';
@import './partials/_stripe.scss';
@import './partials/_darkmode.scss';
@import './partials/_images.scss';
@import './partials/_sidebar.scss';
@import './partials/_coaches.scss';

@import '~@musora/icons/dist/icons.css';

html {
  box-sizing: border-box;
  height:100%;

  &.no-scroll {
    overflow:hidden;

    #intercom-container {
      display:none;
    }
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $defaultSansSerif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:auto;
  min-height:100%;
  position:relative;

  &.no-scroll {
    overflow:hidden;

    #intercom-container {
      display:none;
    }
  }

  &.drawer-open {
    #intercom-container {
      display:none;
    }
  }
}

#intercom-container {
  .intercom-launcher-frame, .intercom-messenger-frame {
    transition: bottom .2s ease;
  }

  &.moved {
    .intercom-launcher-frame {
      bottom:100px;
    }

    .intercom-messenger-frame {
      bottom:200px;
    }
  }
}

iframe {
  border:none;
}

a {
  color:#0b76db;

  &.no-decoration {
    text-decoration:none;
  }
}

img {
  max-width:100%;
  height:auto;
  min-height:1px; // This line fixes some height:auto; issues on IE
}

ul {
  margin:0;
}

.load-before-render, [v-cloak] {
  position:relative;
  min-height:100px;
  width:100%;

  &.expand {
    position:absolute;
  }

  &:before {
    content:'';
    height:36px;
    width:36px;
    margin-top:-18px;
    margin-left:-18px;
    position:absolute;
    top:50%;
    left:50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJzcGlubmVyIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtc3Bpbm5lciBmYS13LTE2IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjxwYXRoIGZpbGw9IiNlNGU0ZTQiIGQ9Ik0zMDQgNDhjMCAyNi41MS0yMS40OSA0OC00OCA0OHMtNDgtMjEuNDktNDgtNDggMjEuNDktNDggNDgtNDggNDggMjEuNDkgNDggNDh6bS00OCAzNjhjLTI2LjUxIDAtNDggMjEuNDktNDggNDhzMjEuNDkgNDggNDggNDggNDgtMjEuNDkgNDgtNDgtMjEuNDktNDgtNDgtNDh6bTIwOC0yMDhjLTI2LjUxIDAtNDggMjEuNDktNDggNDhzMjEuNDkgNDggNDggNDggNDgtMjEuNDkgNDgtNDgtMjEuNDktNDgtNDgtNDh6TTk2IDI1NmMwLTI2LjUxLTIxLjQ5LTQ4LTQ4LTQ4UzAgMjI5LjQ5IDAgMjU2czIxLjQ5IDQ4IDQ4IDQ4IDQ4LTIxLjQ5IDQ4LTQ4em0xMi45MjIgOTkuMDc4Yy0yNi41MSAwLTQ4IDIxLjQ5LTQ4IDQ4czIxLjQ5IDQ4IDQ4IDQ4IDQ4LTIxLjQ5IDQ4LTQ4YzAtMjYuNTA5LTIxLjQ5MS00OC00OC00OHptMjk0LjE1NiAwYy0yNi41MSAwLTQ4IDIxLjQ5LTQ4IDQ4czIxLjQ5IDQ4IDQ4IDQ4IDQ4LTIxLjQ5IDQ4LTQ4YzAtMjYuNTA5LTIxLjQ5LTQ4LTQ4LTQ4ek0xMDguOTIyIDYwLjkyMmMtMjYuNTEgMC00OCAyMS40OS00OCA0OHMyMS40OSA0OCA0OCA0OCA0OC0yMS40OSA0OC00OC0yMS40OTEtNDgtNDgtNDh6Ij48L3BhdGg+PC9zdmc+);
    display:inline-block;
    animation: rotation 2s infinite linear;
  }
}

.header-avatar {
  flex:0 0 125px;
  max-width:125px;
}

#pageHeader {
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-color:#000;

  .pack-header {
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;

    @include medium {
      background-size:contain;
    }

    h1 {
      text-shadow:0 0 4px rgba(0,0,0,.2);
    }

    img {
      width:100%;
      max-width:640px;
      filter:drop-shadow(0 2px 10px rgba(0,0,0,.8));

      &.smaller {
        max-width:480px;
      }
    }
  }

  .account-header {
    flex-wrap:wrap;

    @include small {
      flex-wrap:nowrap;
    }

    .header-avatar {
      flex:0 0 175px;
      max-width:175px;
    }

    .flex-column:not(.header-avatar) {
      @include xSmallOnly {
        flex:0 0 100%;
      }
    }

    .flag {
      transform:scale(0.75);
      transform-origin:0 50%;
    }

    .xp-stats {
      align-items:center;

      @include small {
        align-items:flex-end;
      }

      p {
        text-align:center;

        @include small {
          text-align:right;
        }
      }
    }
  }

  .header-gradient-overlay {
    z-index: 1;
  }
  .container {
    z-index: 2;
  }

  .user {
    align-items:center;

    @include small {
      align-items:flex-start;
    }
  }

  .experience {
    align-items:center;

    @include small {
      align-items:flex-end;
    }

    .heading {
      font-size:40px;

      @include medium {
        font-size:54px;
      }
    }
  }

  .header-buttons {
    @include xSmallOnly {
      flex-wrap:wrap;
    }

    a {
      @include xSmallOnly {
        width:100%;
        max-width:100%;
        margin-left:0;
        margin-bottom:$gutterWidth / 2;
        flex:0 0 100%;

        &:last-child {
          margin-bottom:0;
        }
      }
    }
  }
}

#subHeader {
  .button-col {
    flex:0 0 calc(50px + #{($gutterWidth / 3) * 2});
    padding:0 #{$gutterWidth / 3};
    margin:0;
  }
}

#instructorInfo {
  max-height:0;
  overflow:hidden;
  will-change:max-height;
  transition:max-height .2s ease-in-out;
}
#toggleInstructorInfo {
  height:20px;
  width:40px;
  border-bottom-left-radius:40px;
  border-bottom-right-radius:40px;
  position:relative;
  z-index:2;


  &.active {
    i {
      transform:rotate(180deg);
    }
  }

  & > * {
    pointer-events:none;
  }

  .x-tiny {
    font-size:8px;
    line-height:8px;
    display:block;
  }

  i {
    font-size:8px;
    will-change:transform;
    transition:transform .2s ease-in-out;
    display:block;
  }
}

#noty_layout__topRight {
  top:55px;

  @include medium {
    top:66px;
  }
}

.noty_buttons {
  display:flex;
}

.no-events {
  pointer-events:none;
}

.is-dropdown {
  position:relative;
  overflow:visible!important;
  z-index:50;

  &.active {

    .unopen {
      display:none;
    }
    .open {
      display:block;
    }

    .dropdown-content {
      opacity:1;
      visibility:visible;
      transform:translateY(0);
    }
  }

  .unopen {
    display:block;
  }
  .open {
    display:none;
  }

  .dropdown-content {
    position:absolute;
    top:calc(100% + 10px);
    right:0;
    z-index:10;
    opacity:0;
    visibility:hidden;
    transform:translateY(-30px);
    will-change:opacity, transform;
    transition:all .2s ease-in-out;
    overflow:hidden;

    @extend .corners-3;
    @extend .shadow;

    ul {
      list-style-type:none;
      padding:0;

      li {
        display:block;
        white-space:nowrap;
        border-bottom:1px solid $lightGray;
        transition:background-color .1s ease-in-out;
        text-align:left;

        a {
          display:block;
        }

        &:last-child {
          border-bottom:none;
        }

        &:hover {
          background-color:#f2f2f2;
        }
      }
    }
  }
}

.colored-lock {
  height:auto;
  width:20px;
  display:inline-block;
}

.comment-meta {
  position:relative;

  .comment-id-copy {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    pointer-events:none;
    height:20px;
    width:100px;
  }
}

.order-product-col {
  flex:0 0 100%;

  @include small {
    flex:0 0 150px;
    text-align:right;
  }

  &.price {
    align-items:flex-start;

    @include small {
      align-items:flex-end;
    }
  }
}

#currencyInput {
  padding-right:$gutterWidth;
  padding-top:0;
  height:35px;
  cursor:pointer;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIgogICB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIKICAgdmlld0JveD0iMCAtMjU2IDE3OTIgMTc5MiIKICAgaWQ9InN2ZzI5ODkiCiAgIHZlcnNpb249IjEuMSIKICAgaW5rc2NhcGU6dmVyc2lvbj0iMC40OC4zLjEgcjk4ODYiCiAgIHdpZHRoPSIxMDAlIgogICBoZWlnaHQ9IjEwMCUiCiAgIHNvZGlwb2RpOmRvY25hbWU9ImNhcmV0X2Rvd25fZm9udF9hd2Vzb21lLnN2ZyI+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhMjk5OSI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGRlZnMKICAgICBpZD0iZGVmczI5OTciIC8+CiAgPHNvZGlwb2RpOm5hbWVkdmlldwogICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIKICAgICBib3JkZXJvcGFjaXR5PSIxIgogICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiCiAgICAgZ3JpZHRvbGVyYW5jZT0iMTAiCiAgICAgZ3VpZGV0b2xlcmFuY2U9IjEwIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSI2NDAiCiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iNDgwIgogICAgIGlkPSJuYW1lZHZpZXcyOTk1IgogICAgIHNob3dncmlkPSJmYWxzZSIKICAgICBpbmtzY2FwZTp6b29tPSIwLjEzMTY5NjQzIgogICAgIGlua3NjYXBlOmN4PSI4OTYiCiAgICAgaW5rc2NhcGU6Y3k9Ijg5NiIKICAgICBpbmtzY2FwZTp3aW5kb3cteD0iMCIKICAgICBpbmtzY2FwZTp3aW5kb3cteT0iMjUiCiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIKICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJzdmcyOTg5IiAvPgogIDxnCiAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMSwwLDAsLTEsNDAyLjQ0MDY4LDEyMzkuODY0NCkiCiAgICAgaWQ9ImcyOTkxIj4KICAgIDxwYXRoCiAgICAgICBkPSJtIDEwMjQsODMyIHEgMCwtMjYgLTE5LC00NSBMIDU1NywzMzkgcSAtMTksLTE5IC00NSwtMTkgLTI2LDAgLTQ1LDE5IEwgMTksNzg3IHEgLTE5LDE5IC0xOSw0NSAwLDI2IDE5LDQ1IDE5LDE5IDQ1LDE5IGggODk2IHEgMjYsMCA0NSwtMTkgMTksLTE5IDE5LC00NSB6IgogICAgICAgaWQ9InBhdGgyOTkzIgogICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIKICAgICAgIHN0eWxlPSJmaWxsOmN1cnJlbnRDb2xvciIgLz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat calc(100% - 10px) 50%;
  background-size:15px;
}

.comment-post {
  position:relative;

  .loading-reply {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,.8);
    font-size:40px;
  }
}

#bestBookHeader {
  @include topToBottomGradient($drumeoBlue, darken($drumeoBlue, 15%));

  #bestBookImage {
    transform:translateY(60px);
    filter:drop-shadow(0 2px 10px rgba(0,0,0,.8));
  }

  button {
    @include xSmallOnly {
      width:100%;
      max-width:100%;
      margin-right:0;
    }
  }
}

.chapter-card {
  @include medium {
    flex:0 0 20%;
    max-width:20%;
    min-width:20%;
  }

  .square {
    transform:scale(1);
    box-shadow:0 0 5px transparent;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
  }

  &:hover {
    .square {
      transform:scale(1.04);
      box-shadow:0 0 5px rgba(0,0,0,.8);
    }
  }

  .card-gradient {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    @include topToBottomGradient(transparent, transparentize(darken($drumeoBlue, 13%), .15));
  }
  .absolute-center {
    z-index:2;
  }
}

.letter-anchor {
  flex:0 0 4%;

  @include xSmallOnly {
    flex:0 0 8%;
  }
}

.feature-row {

  &.reverse-xs {
    flex-direction:row-reverse;

    @include xSmallOnly {
      flex-direction:row;
    }
  }

  .square-wrap {
    position:relative;
    filter:drop-shadow(0 0 6px rgba(0,0,0,.2));

    @include xSmallOnly {
      margin-bottom:$gutterWidth;
    }

    &.arrow-left {

      &:after {
        @include xSmallOnly {
          bottom:-38px;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-top-color: #fff;
          border-width: 20px;
          margin-left: -20px;
        }
        @include small {
          left:-56px;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-right-color: #fff;
          border-width: 30px;
          margin-top: -30px;
        }
      }
    }

    &.arrow-right {

      &:after {
        @include xSmallOnly {
          bottom:-38px;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-top-color: #fff;
          border-width: 20px;
          margin-left: -20px;
        }
        @include small {
          right:-56px;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-left-color: #fff;
          border-width: 30px;
          margin-top: -30px;
        }
      }
    }
  }
}

.description-col {
  padding-right:0;

  @include small {
    padding-right:$gutterWidth;
  }

  .btn {
    margin-bottom:$gutterWidth / 2;

    @include xSmallOnly {
      max-width:100%;
      margin-right:0;
    }

    @include small {
      margin-bottom:0;
    }
  }
}

.header-background-container {
  max-width: 1530px;
  left: 50%;
  transform: translateX(-50%);
}

.header-gradient-overlay {
  background: linear-gradient(180deg,hsla(0, 0%, 0%, 0.05) 45%,hsla(0, 0%, 10%, 0.8));

  &.drumeo {
    background: linear-gradient(180deg,hsla(0, 0%, 0%, 0.05) 45%,transparentize(darken($drumeoBlue, 10%), 0.3) 100%);
  }

  &.pianote {
    background: linear-gradient(180deg,hsla(0, 0%, 0%, 0.05) 45%,transparentize(darken($pianoteRed, 10%), 0.3) 100%);
  }

  &.singeo {
    background: linear-gradient(180deg,hsla(0, 0%, 0%, 0.05) 45%,transparentize(darken($singeoPurple, 10%), 0.3) 100%);
  }
}

[data-open-course] {
  .open {display:flex;}
  .close {display:none;}

  &.active {
    .open {display:none;}
    .close {display:flex;}
  }
}

.simplebar-scrollbar:before {
  background: nth(nth($greys, 4), 2);
}

.user-metric {
  height:150px;
  border-radius:75px;
}

.method-progress {
  height:150px;
  border-radius:75px;

  img {
    width:200px;
    max-width:100%;
    height:auto;

    @include small {
      width:500px;
    }
  }

  .progress-bar {
    width:100%;
    max-width:260px;
    height:26px;
    border-radius:13px;

    .progress {
      height:100%;
      position:absolute;
      border-radius:10px;
      top:0;
      left:0;

      .amount {
        position:absolute;
        right:5px;
        top:0;
        height:100%;

        &.right {
          right:-5px;
          transform:translateX(100%);
        }
      }
    }
  }
}

.remove-borders {
  .content-table-row, .content-overview {
    border:none!important;
  }
}

.hot-forum-avatar-col {
  flex:0 0 80px;
  max-width:80px;
  min-width:80px;
}