@import '~normalize.css/normalize.css';
@import './partials/_grid.scss';
@import './partials/_typography.scss';
@import './partials/_colors.scss';
@import './partials/_modifiers.scss';
@import './partials/_forms.scss';
@import './partials/_button.scss';
@import './partials/_nav.scss';

html {
  box-sizing: border-box;
  height:100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $defaultSansSerif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:auto;
  min-height:100%;
  position:relative;

}

a {
  color:#0b76db;

  //&:visited {
  //  color:#0b76db;
  //}
}

img {
  max-width:100%;
  height:auto;
}

#pageHeader {
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  .header-avatar {
    flex:0 0 125px;
  }
}